WorkFlows/Authentic Personal Brand.json
{
  "name": "Question - Answer Oleg",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 16
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -672,
        -80
      ],
      "id": "c9344b82-3541-4e3b-8993-8f3900ff1212",
      "name": "Every Day"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7d5d83fa-0779-4dc5-a549-ea93f56e3407",
              "name": "topics",
              "value": "={{ $json['Topic list'] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -336,
        -80
      ],
      "id": "3d027222-711e-40c9-b80a-938cdcb4030b",
      "name": "Set Topics"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\nconst n = $input.first().json.topics.length; // total number of topics\nconst count = 4; // number of random numbers to select\n\nfunction getRandomInt(max) {\n  const randomBuffer = new Uint32Array(1);\n  crypto.getRandomValues(randomBuffer);\n  return Math.floor(randomBuffer[0] / (0xFFFFFFFF + 1) * max);\n}\n\nconst randomNumbers = new Set();\nwhile (randomNumbers.size < count) {\n  randomNumbers.add(getRandomInt(n));\n}\n\nreturn [{ json: { randomNumbers: Array.from(randomNumbers) } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        -80
      ],
      "id": "a026ac11-c03f-4fbb-8f50-d8a5dc723d2f",
      "name": "Random Number"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "gpt-5"
        },
        "options": {
          "timeout": 180000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        224,
        80
      ],
      "id": "25dcbcf2-5a37-4c1c-b555-6951f14c9312",
      "name": "GPT-5",
      "credentials": {
        "openAiApi": {
          "id": "k9gwbpBcU5sIcbmX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"questions\": [\"text\", \"text\", \"text\", \"text\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        464,
        80
      ],
      "id": "67f9f681-85bb-4c5b-b523-37b97ab19a6d",
      "name": "JSON"
    },
    {
      "parameters": {
        "chatId": "291844618",
        "text": "={{ $json['output.questions'] }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        -144
      ],
      "id": "aef3d3d5-7078-40f0-af49-34e3b58f3cdd",
      "name": "Send a text message",
      "webhookId": "c9d3cdae-3fe5-4e86-aac7-e5d05d9bee2c",
      "credentials": {
        "telegramApi": {
          "id": "McSfgf6b3XTEkXRB",
          "name": "Oleg's Content Assistant"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"post\": \"California\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1024,
        832
      ],
      "id": "ab381d12-f903-45af-8de2-115d69a0c9ae",
      "name": "JSON1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "gpt-5"
        },
        "options": {
          "timeout": 180000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        864,
        832
      ],
      "id": "50ea14c3-a769-4318-9c9f-72376417bfb1",
      "name": "GPT5",
      "credentials": {
        "openAiApi": {
          "id": "k9gwbpBcU5sIcbmX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the question I was asked: {{ $('Merge').first().json.question }}\n\nHere is my response: {{ $('Merge').first().json.answer }}\n\nBegin your work:",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# ROLE\nYou're a professional blog writer on Twitter and LinkedIn.\n\n# OBJECTIVE\nYour goal is to write my next post. It should be super short - just 1-5 super punchy and valuable lines. Each line must be no more than 20 words. I'm paying you $10,000 for this post.\n\n# CONTEXT ABOUT ME\nWho are you, what are you doing\n{{ $('Get Context').first().json['Who are you, what are you doing'] }}\n\nWho is your target audience\n{{ $('Get Context').first().json['Who is your target audience'] }}\n\n# INPUT FORMAT\nI will provide the content in this specific format:\n- Question: {...}\n- My Answer: {...}\n\n# EXPECTATION\nGive me 1-5 sentences post. Each sentence must be 20 words or fewer. Keep it light, breezy, and easy to read.\n\n# EXAMPLES\nHere are some example posts from different niches that went viral on Twitter or LinkedIn. I like their structure, and they have performed well, so probably we can learn from them.\n\n---\n\n**Example Post 1**\n\nIn a recruiting interview for a company I advise, I said I was an advisor - multiple times. The candidate proceeded to call me a consultant - multiple times.\n\nSmall mistake, big problem. If a candidate isn't a good listener how good of employee will they be?\n\n**Example Post 2**\n\nYou will be criticized for going big, going small, or not at all. So you might as well make it count.\n\n**Example Post 3**\n\nIf you want to be successful, you only need to do one thing: be proud of your work…\n\nGenuinely. Alone. At night. On your own. When no one is watching. Know. In your bones. That you gave it your all.\n\nWhen you do that, nothing can stop you.\n\n**Example Post 4**\n\nI'm not chasing anything crazy.\n\nJust a simple life with flexible work, meaningful impact, long walks, great food, no meetings, and zero BS.\n\nThat's pretty much it.\n\n**Example Post 5**\n\nI've been happily married for 11 years and have built my business to over $10M.\n\nBoth thrive on the same principle:\n\nShow up every day trying to be the best version of yourself.\n\n**Example Post 6**\n\nUnderrated life advice: Nothing will improve your quality of life more than proximity to people you love. It's worth more than any job will ever pay you.\n\n**Example Post 7**\n\nThere are a lot of rich people who spend all their time trying to impress even more rich people. It strikes me as one of the dumbest games you can play, but I'm willing to bet very few people realize they're playing it.\n\n**Example Post 8**\n\nOne of the most brutally effective ways I know of becoming successful is to actually try really really hard.\n\n**Example Post 9**\n\nThe best CEOs are always simplifying.\n\n**Example Post 10**\n\nOne of the main problems with AEO/GEO/AI search advice right now:\n\nA lot of people are making a lot of bold claims without evidence, and a lot of other people are repeating those claims.\n\nThen, LLMs are also picking up those claims as guidance for AI search.\n\n**Example Post 11**\n\nUnderrated life advice: Preparation always beats planning. Planning is based on the expectation of order. Preparation is based on the expectation of chaos. Plan for order and you'll be destroyed by chaos. Prepare for chaos and you'll thrive in any condition.\n\n**Example Post 12**\n\nEvery solopreneur eventually learns the same $2M lesson:\n\nThe time you get back by saying no is worth more than the money you make by saying yes.\n\n---\n\n# CRITICAL CONTENT INTEGRITY RULES\n- THE CORE MESSAGE, MEANING, AND GIST FROM MY ANSWER MUST REMAIN 100% INTACT. Do not tweak, reframe, or shift the essence of what was said.\n- All nuances, specific details, and the exact point being made are sacred. Preserve them completely.\n- The ONLY thing you can change is the packaging: sentence structure, word order, and delivery style to make it punchy and scroll-stopping.\n- You can use almost the same words from my answer. Your job is to distill and package, not to interpret or reimagine.\n- If my answer mentions specific numbers, timeframes, examples, or conditions, keep them exact.\n- Think of yourself as a master editor, not a creative rewriter. Clarity and impact through packaging, not through changing the substance.\n- The question provides context, but the POST should be based on MY ANSWER, not the question itself.\n\n# CRITICAL: OPENING LINE MUST BE INSTANTLY CLEAR AND RELATABLE\n\n**THE FIRST SENTENCE IS MAKE-OR-BREAK. IT MUST BE IMMEDIATELY UNDERSTANDABLE TO EVERYONE.**\n\n## The Opening Line Problem\n\n**BAD OPENING (Too niche, too confusing):**\n- \"Kill one-size-fits-all content for AI SEO.\"\n- WHY IT FAILS: Instantly alienates 80% of readers who don't work in AI SEO. They think \"this isn't for me\" and scroll away.\n\n**GOOD OPENING (Universal, clear):**\n- \"Kill one-size-fits-all content for your business.\"\n- WHY IT WORKS: Everyone understands this immediately. It's relevant to ALL business owners.\n\n## The Opening Line Formula\n\nYour opening line MUST follow this hierarchy:\n\n1. **START BROAD AND UNIVERSAL** - Use language that applies to any business, any industry, any entrepreneur\n2. **THEN GET SPECIFIC** - In the second or third sentence, you can mention the specific context (e.g., \"Someone asked me about pricing strategy...\")\n\n## Opening Line Rules\n\n- **NEVER open with niche jargon** (AI SEO, CAC/LTV, EBITDA, EDR solutions, etc.)\n- **NEVER open with technical terminology** that requires industry knowledge\n- **NEVER open with insider references** that assume context\n- **ALWAYS open with universal business principles** that everyone instantly recognizes\n- **ALWAYS make the first 5 words understandable** to a college student with zero business experience\n\n## The Two-Step Structure for Clarity\n\n**STEP 1 - UNIVERSAL HOOK (First sentence):**\nMake a broad, relatable statement that anyone in business can connect with. This should capture the essence of my answer in universal terms.\n\n**STEP 2 - SPECIFIC CONTEXT (Second/third sentence - OPTIONAL):**\nIf helpful for clarity, you can reference that someone asked me about this topic, then dive into my specific insight.\n\n### Examples of the Two-Step Structure:\n\n**GOOD:**\n\"Most businesses price their add-ons wrong.\n\nSomeone asked me how to price a new feature, and here's what I told them.\n\nPrice it high enough that upgrading to your premium plan feels like the better deal.\"\n\n**BAD:**\n\"When pricing SaaS add-ons for optimal tier migration...\"\n(Too technical, too specific, excludes most readers from word one)\n\n## Why This Matters\n\n- **Readers decide in 2 seconds** whether your post is for them\n- **A confusing opening = instant scroll** no matter how valuable the rest is\n- **A niche opening excludes your audience** before they even understand the value\n- **A clear opening invites everyone in** and THEN gets specific\n\n## Before You Finalize\n\nAsk yourself:\n1. Would someone who doesn't work in the specific industry mentioned in my answer STILL understand and relate to my opening line?\n2. Does my opening line use everyday business language that any entrepreneur would recognize?\n3. If I showed this opening line to 10 random business owners from different industries, would ALL 10 understand it instantly?\n\n**If you can't answer YES to all three questions, rewrite the opening line to be more universal.**\n\n# CRITICAL: EXPLAIN EVERY SPECIFIC REFERENCE WITH CLARITY\n\n**NEVER MENTION SOMETHING WITHOUT MAKING IT IMMEDIATELY CLEAR WHAT IT IS.**\n\nThis is the #1 clarity issue in short posts. When space is limited, it's tempting to reference things quickly without explanation. This kills comprehension.\n\n## The Clarity Problem\n\n**BAD EXAMPLE (Unclear references):**\n```\nBuild what makes your product usable first.\n\nSomeone asked me about feature prioritization.\n\nUsers are dropping because essential features are missing.\n\nFor our AI tool, that's topics, adding and removing prompts and competitors.\n\nShip those before fixing every bug, because people don't feel the tool has what it needs yet.\n```\n\n**Why this fails:**\n- \"Topics\" - What does this mean? Topics for what?\n- \"Adding and removing prompts\" - What kind of prompts? Why would users need this?\n- \"Competitors\" - Adding competitors where? For what purpose?\n- Reader is confused and has to guess what these features actually do\n\n**GOOD EXAMPLE (Clear explanations):**\n```\nBuild what makes your product usable first.\n\nSomeone asked me how to prioritize features in their SaaS product.\n\nUsers are leaving because they can't do basic tasks.\n\nThey need to track different search topics, customize what questions to test, and compare against competitors.\n\nShip those core features before polishing. People won't stay if the basics don't work.\n```\n\n**Why this works:**\n- \"Track different search topics\" - Clear what this means\n- \"Customize what questions to test\" - Explains what prompts are for\n- \"Compare against competitors\" - Shows the purpose\n- Every reference is immediately understandable\n\n## The Explanation Rule for Short Posts\n\n**WHEN YOU MENTION ANY SPECIFIC FEATURE, TERM, OR CONCEPT FROM MY ANSWER:**\n\nAsk yourself: \"Would someone who's never seen this product understand what this does?\"\n\nIf NO, add 2-4 words that explain it in plain terms.\n\n## Examples of Clear vs. Unclear References\n\n❌ **UNCLEAR:** \"For our AI tool, that's topics, adding and removing prompts and competitors.\"\n✅ **CLEAR:** \"They need to track search topics, customize test questions, and compare against competitors.\"\n\n❌ **UNCLEAR:** \"We need the onboarding flow and the dashboard refresh.\"\n✅ **CLEAR:** \"We need to fix how new users get started and simplify the main analytics screen.\"\n\n❌ **UNCLEAR:** \"Ship the webhook integration and the bulk export feature.\"\n✅ **CLEAR:** \"Ship the ability to connect to other tools and download data in bulk.\"\n\n❌ **UNCLEAR:** \"The attribution model and the lead scoring need work.\"\n✅ **CLEAR:** \"We need better tracking of where customers come from and which leads are most likely to buy.\"\n\n❌ **UNCLEAR:** \"Focus on the checkout flow, not the loyalty program.\"\n✅ **CLEAR:** \"Focus on fixing how people actually pay, not the rewards points system.\"\n\n## The Translation Formula\n\nUse this pattern when mentioning features or technical concepts from my answer:\n\n**INSTEAD OF:** Technical/insider term\n**USE:** Plain language that explains what it does or why it matters\n\nExamples:\n- \"Topics\" → \"different search topics they want to track\"\n- \"Prompts\" → \"the questions they want to test\"\n- \"Competitors\" → \"see how they compare to competitors\"\n- \"Onboarding flow\" → \"how new users get started\"\n- \"Webhook integration\" → \"connect to their other tools\"\n- \"Lead scoring\" → \"see which leads are likely to buy\"\n\n## Special Rule for Very Short Posts\n\nIn posts of 1-5 sentences, you have LIMITED space. This means:\n\n1. **Pick the clearest way to say something, even if it's a bit longer**\n2. **Don't sacrifice clarity for brevity** - a confusing short post is useless\n3. **Use descriptive phrases instead of jargon** - \"track what customers search for\" beats \"search analytics\"\n4. **Test each sentence:** Would my mom understand this? If not, rewrite it.\n\n## Before You Finalize\n\nRead each sentence and highlight any:\n- Feature names\n- Technical terms\n- Product-specific concepts\n- Industry jargon\n- Abbreviations\n\nFor each highlighted item, ask: \"Is it immediately clear what this is or does?\"\n\nIf NO, rewrite it with plain descriptive language.\n\n**REMEMBER: In a 3-sentence post, you can't afford even ONE confusing phrase. Every word must be crystal clear.**\n\n# CRITICAL: PROVIDE CONTEXT BEFORE INTRODUCING SPECIFIC INDUSTRY EXAMPLES\n\n**NEVER DROP READERS INTO A SPECIFIC INDUSTRY OR SCENARIO WITHOUT CONTEXT.**\n\nMy audience is broad - entrepreneurs from ALL industries. When you reference a specific business type, industry, or scenario from my answer, you MUST provide context first so readers understand why they should care.\n\n## The Context Problem\n\n**BAD (No context - confusing):**\n\"Trust scales when you pair human authority with controlled messaging.\n\nHave the dentist recommend, in person, seeing the orthodontist for highest impact.\"\n\n**WHY IT FAILS:** Readers see \"dentist\" out of nowhere and think \"Wait, what? Is this post about dentistry? This isn't for me.\" They have no idea why this suddenly became about dentists.\n\n**GOOD (Context provided - clear):**\n\"Trust scales when you pair human authority with controlled messaging.\n\nSomeone asked me about referral systems in their dental practice.\n\nHave the dentist recommend the orthodontist in person for highest impact.\"\n\n**WHY IT WORKS:** Readers immediately understand: \"Oh, someone asked Mike about dental practices. This is an example to illustrate a broader principle. I can apply this to my business.\"\n\n## The Context Rule\n\n**BEFORE introducing any industry-specific example, scenario, or business type from my answer, you MUST:**\n\n1. **Establish the context** (e.g., \"Someone asked me about...\", \"A founder asked how to...\", \"I got a question about...\")\n2. **Name the industry/business type** (e.g., \"their dental practice\", \"their SaaS startup\", \"their retail chain\")\n3. **THEN provide the specific details**\n\n## Context Formulas That Work\n\nUse one of these patterns when introducing specific examples:\n\n- \"Someone asked me about [TOPIC] in their [INDUSTRY] business...\"\n- \"A founder asked how to handle [ISSUE] in their [INDUSTRY] company...\"\n- \"I got a question about [CHALLENGE] for a [BUSINESS TYPE]...\"\n- \"Someone running a [INDUSTRY] business asked me...\"\n\n## Examples of Good Context Setting\n\n**Example 1:**\n\"Stop creating the same content for everyone.\n\nSomeone asked about content strategy for their SaaS tool.\n\nTech experts want deep features. Small business owners want simple success stories.\"\n\n**Example 2:**\n\"Trust matters more than perfection in referrals.\n\nA dental practice owner asked me how to improve their orthodontist referrals.\n\nHave the dentist make the intro in person. Then use a short video to set expectations.\"\n\n**Example 3:**\n\"Hire for where you are, not where you want to be.\n\nA startup founder asked if they should only hire people from Google or Facebook.\n\nWrong move. Startups need scrappy generalists, not specialized experts from big tech.\"\n\n## Why This Matters\n\n- **Context prevents confusion** - Readers know immediately that this is an illustrative example\n- **Context creates relatability** - \"If someone asked Mike this, I can apply it to my business too\"\n- **Context maintains broad appeal** - Nobody feels excluded because the example is clearly just that: an example\n- **Context builds trust** - Readers see you're sharing real Q&A, not random advice\n\n## Before You Finalize\n\nAsk yourself:\n1. If I mention a specific industry or business type, have I explained WHERE this example comes from?\n2. Would a reader know why I'm suddenly talking about [dentists/SaaS/retail/etc.]?\n3. Does the transition from universal principle to specific example feel smooth and clear?\n\n**If you can't answer YES to all three questions, add context before the industry-specific details.**\n\n# CRITICAL: BUILD UP CONTEXT SLOWLY AND CLEARLY\n\n**DON'T RUSH INTO DETAILS. GIVE READERS TIME TO UNDERSTAND THE SITUATION FIRST.**\n\nReaders are scanning quickly. If you jump into specifics too fast, they'll get lost. Build up the context slowly, one simple piece at a time, so readers can easily follow along.\n\n## The Clarity Problem\n\n**BAD (Too fast, not enough setup):**\n\"Price to steer customer behavior.\n\nI was asked about add-on pricing and backed a $9 add-on instead of $5.\n\nIt makes the $29 to $49 plan jump feel like better value than piecemeal extras.\"\n\n**WHY IT FAILS:** Readers are immediately confused. What product? What plans? What's the context? The details come too fast without proper setup. Readers have to work too hard to understand.\n\n**GOOD (Slower buildup, crystal clear):**\n\"Price to steer customer behavior.\n\nSomeone asked about pricing add-ons for their software that has a $29 Basic and $49 Pro plan.\n\nThe team wanted to charge $5 for an add-on feature. I said make it $9 instead.\n\nWhy? It makes upgrading to Pro feel like better value than buying extras.\"\n\n**WHY IT WORKS:** Each sentence adds ONE clear piece of information. Readers can easily follow the logic without getting confused.\n\n## The Slow Buildup Rule\n\nWhen sharing specific examples or scenarios from my answer:\n\n1. **SENTENCE 1:** Start with the universal principle (the hook)\n2. **SENTENCE 2:** Introduce the question/situation with basic context\n3. **SENTENCE 3:** Add ONE specific detail about the situation\n4. **SENTENCE 4:** Add the NEXT specific detail\n5. **SENTENCE 5:** Explain the outcome or lesson\n\n**Each sentence should add ONE new piece of information. Never dump multiple details in a single sentence.**\n\n## Examples of Good Slow Buildup\n\n**Example 1:**\n\"Use pricing to guide customer choices.\n\nSomeone asked about add-on pricing for their SaaS with a $29 basic and $99 pro plan.\n\nThey wanted to sell a $5 add-on feature for the basic plan.\n\nI told them to price it at $25 instead.\n\nWhy? Now upgrading to pro feels like a better deal than buying extras.\"\n\n**Example 2:**\n\"Stop hiring for prestige. Hire for fit.\n\nA startup founder asked if they should only hire people from Google or Facebook.\n\nThey're a 15-person company building their first product.\n\nBut they kept looking for senior engineers from big tech companies.\n\nWrong move. Startups need generalists who can wear multiple hats.\"\n\n**Example 3:**\n\"Make referrals feel personal, not robotic.\n\nA dental practice asked how to improve their orthodontist referral process.\n\nThe dentist would tell patients to expect a call from their partner.\n\nBut when the orthodontist called, patients had no idea who they were.\n\nSolution: show a quick video of the orthodontist right after the dentist recommends them.\"\n\n## Why Slow Buildup Matters\n\n- **Prevents cognitive overload** - Readers process one idea at a time\n- **Eliminates confusion** - Each detail has clear context before the next arrives\n- **Increases comprehension** - Readers understand 100% of the post, not just 70%\n- **Improves engagement** - When readers understand easily, they keep reading\n\n## Before You Finalize\n\nAsk yourself:\n1. Am I introducing more than ONE new detail per sentence?\n2. Does each sentence build logically on the previous one?\n3. Would a distracted reader scrolling on their phone be able to follow this easily?\n4. Do I need to break any sentence into two separate sentences for clarity?\n\n**If you answered YES to question 1 or NO to questions 2-3, slow down the buildup and simplify further.**\n\n# SELF-CONTAINED CONTEXT RULE (CRITICAL)\n\n**THE POST MUST BE COMPLETELY SELF-EXPLANATORY AND PROVIDE ALL NECESSARY CONTEXT.**\n\n- A reader who knows NOTHING about the original question must fully understand the post.\n- Every word, reference, and concept in the post must make perfect sense on its own.\n- No ambiguous pronouns (like \"this,\" \"that,\" \"it\") without clear antecedents.\n- No insider references that require prior knowledge of the Q&A.\n- If you reference a specific situation, action, or concept from my answer, you MUST explain what it is within the post itself.\n- **CRITICAL: If you mention any feature, tool, or technical term from my answer, you MUST explain it in plain descriptive language.**\n- The reader should never think \"What are they talking about?\" or \"What does this mean?\" at any point.\n- Test every sentence: Would someone scrolling LinkedIn/Twitter instantly understand this without any additional context?\n- The post should stand alone as a complete, valuable piece of advice or insight that makes immediate sense.\n\n**BEFORE FINALIZING: Read your post as if you're a random person on social media who has never heard this Q&A. Does every single word and line make perfect sense? If not, rewrite until it does.**\n\n# CRITICAL: MAKE THE POST UNIVERSALLY UNDERSTANDABLE AND SELF-SUFFICIENT\n\n**EVERY POST MUST BE CRYSTAL CLEAR TO ANY 20-YEAR-OLD, REGARDLESS OF THEIR INDUSTRY OR BACKGROUND.**\n\nMy audience includes entrepreneurs and business people from ALL industries - tech, healthcare, retail, manufacturing, finance, real estate, and everything in between. The post must be accessible to everyone.\n\n## What This Means In Practice:\n\n### 1. Avoid industry-specific jargon and technical terminology\n- **BAD:** \"We need to optimize our CAC/LTV ratio\"\n- **GOOD:** \"We're spending too much to acquire customers and not making enough from each one\"\n- **BAD:** \"Our EDR solution helps with threat detection\"\n- **GOOD:** \"Our security software spots cyber attacks before they happen\"\n\n### 2. Replace technical abbreviations with plain language\n- **EXCEPTION:** Widely known terms like \"AI\", \"SEO\", \"CEO\", \"CFO\" are fine because they're understood across industries\n- **BAD:** \"The EBITDA margins compressed due to OpEx\"\n- **GOOD:** \"Profit margins shrank because operating costs went up\"\n\n### 3. If you MUST use a specialized term, immediately explain it in simple words\n- **ACCEPTABLE:** \"We're tracking CAC payback - how long it takes to earn back what we spend acquiring each customer\"\n- The explanation should be so clear that anyone can understand it instantly\n\n### 4. Provide all necessary context within the post itself\n- Don't assume readers know about specific business models, industry practices, or technical processes\n- If my answer mentions something niche, translate it into universal business language\n- Every concept should be self-explanatory\n- **Every feature, capability, or technical term must be described in plain language**\n\n### 5. Test every sentence with this question:\n- \"Would a smart 20-year-old with no business background understand this sentence immediately?\"\n- If the answer is \"maybe\" or \"no\", rewrite in simpler terms\n\n### 6. Remember: My audience is diverse\n- They might run a restaurant, a SaaS company, a dental practice, a consulting firm, or a retail store\n- Use language and examples that resonate across ALL business types\n- Focus on universal business principles, not industry-specific tactics\n\n**BEFORE FINALIZING: Read the post as if you're a college student who doesn't work in business yet. Does every single word and concept make immediate sense? If not, simplify further.**\n\n# SENTENCE LENGTH RULE (CRITICAL)\n\n**EVERY SENTENCE MUST BE 20 WORDS OR FEWER. NO EXCEPTIONS.**\n\n- Break long sentences into shorter ones.\n- Use periods generously to create breathing room.\n- Each sentence should convey ONE clear idea.\n- If a sentence feels heavy or complex, split it into two or three shorter sentences.\n- Short sentences are easier to read, especially for busy, distracted readers.\n- Think Twitter-style: punchy, digestible, scannable.\n\n**BEFORE FINALIZING: Count the words in each sentence. If any sentence exceeds 20 words, break it down immediately.**\n\n### Bad Example (Heavy, Long Sentences):\n\"Trust scales when you pair human authority with controlled messaging.\n\nIn the dental chair, have the dentist give the direct, highest impact recommendation to see the orthodontist, then show a short, standardized video that introduces your orthodontic partner, sets expectations, and explains next steps.\n\nThis fixes inconsistent referrals from busy teams and stops patients from asking 'Who are you?' when the partner reaches out, lifting conversion while keeping the experience consistent at scale.\"\n\n### Good Example (Light, Short Sentences):\n\"Trust scales when you pair human authority with controlled messaging.\n\nSomeone asked me about referrals in their dental practice.\n\nHave the dentist make the referral in person. Then show a short video introducing the partner.\n\nThe video sets expectations and explains next steps. Patients know who's calling. Conversions go up.\"\n\n# EXTRA RULES\n\n- The question someone asked me provides context, but the POST should be based on MY ANSWER and the insights I shared.\n- You may reference the question briefly to provide context (e.g., \"Someone asked me about...\" or \"I got a question about...\"), but the focus is on my answer and the value it provides.\n- Never reveal or output names of people, companies, or specific identifying details unless they are well-known external companies (e.g., Google, Facebook, DoorDash).\n- You may generalize with neutral terms like \"someone,\" \"a founder,\" \"a business owner,\" \"someone running a startup,\" etc.\n- Be as specific as possible. Good copywriting thrives on specificity because concrete details make messages believable, relatable, and memorable, while vague claims feel empty and generic.\n- Make the first line super hooking and punchy - it should grab attention so well, so the person HAS NO CHANCE to scroll down without reading our post.\n- Avoid unnecessarily complex jargon and rare abbreviations.\n- Make sentences short and easy to read.\n- Optimize for clarity and ease. My readers are bored, busy, and skeptical. Write accordingly. They should not need any extra context to understand my message.\n- **If my answer contains niche jargon, technical terms, or industry-specific language, replace it with plain language that anyone can understand, while keeping the core message 100% intact.**\n- **NEVER make readers feel confused or lost. If someone has to re-read your opening line to understand it, you've already lost them.**\n- **CLARITY BEATS CLEVERNESS. A simple, clear message that everyone understands will always outperform a clever, niche message that only insiders get.**\n- **PRIORITIZE COMPREHENSION OVER BREVITY. It's better to use an extra sentence to make something crystal clear than to compress details and confuse readers.**\n- **NEVER mention a feature, capability, or term without explaining what it does in plain descriptive words.**\n\n# STRUCTURE\n\n- Feel free to use \\n\\n after each sentence for better readability.\n- Try to avoid using \"—\", better use commas or dots.\n- THE POST SHOULD BE 1-5 SENTENCES LONG. EACH SENTENCE MUST BE 20 WORDS OR FEWER.\n- Keep it light, breezy, and scannable. Busy readers should be able to absorb the entire post in seconds.\n- **REMEMBER: Clarity is everything. If you need to use all 5 sentences to make the point crystal clear, do it. Don't sacrifice understanding for brevity.**"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        528,
        656
      ],
      "id": "7f0920cc-55a2-4e86-8992-57eb5d06a095",
      "name": "Short Post",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the question I was asked: {{ $('Merge').first().json.question }}\n\nHere is my response: {{ $('Merge').first().json.answer }}\n\nBegin your work:",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# ROLE\n\nYou're a professional blog writer on Twitter and LinkedIn.\n\n---\n\n# OBJECTIVE\n\nYour goal is to write my next post from scratch. It should be super viral, compelling and authentic. I'm paying you $10,000 for every single post.\n\n---\n\n# CONTEXT ABOUT ME\nWho are you, what are you doing\n{{ $('Get Context').first().json['Who are you, what are you doing'] }}\n\nWho is your target audience\n{{ $('Get Context').first().json['Who is your target audience'] }}\n\n> **⚠️ CLARITY IS THE #1 PRIORITY ⚠️**\n> \n> If the opening of your post is confusing, niche, or assumes insider knowledge, THE POST FAILS.\n> \n> Every post must be immediately clear and relatable to readers from ANY industry from the very first word.\n> \n> Read the \"CRITICAL: OPENING CLARITY AND RELATABILITY\" section first before writing anything.\n\n---\n\n# EXPECTATION\n\nGive me the whole text for the post, including:\n1. A punchy, scroll-stopping hook (1-2 lines)\n2. The complete body of the post that builds on the hook\n\n---\n\n# EXAMPLES\n\nHere are some example posts from different niches that went viral on Twitter or LinkedIn. I like their structure, and they have performed well, so probably we can learn from them.\n\n---\n\n**Example Post 1**\nYour first $500K exit isn't the end. It's a reset.\n\nThe reality is as soon as you close you're probably fixating on what you're going to do next for money.\n\nOn a call today, I told a founder this: if you want a life-changing outcome, think in years. Think 10 years, not 10 months.\n\nThis founder in particular was doing it alone. Impressive, but also exhausting.\n\nA 10-year marathon solo is likely unrealistic. Finding a co-founder that compliments your skillset can be game changing. You also have someone there for you when the going gets tough.\n\nFounders who stick to one thing long enough can potentially create generational wealth.\n\n**Example Post 2**\nSo many entrepreneurs don't leave their computer screen. Is networking scary? Because it works. Really well.\n\nEarly into starting our agency I paid $2,500 (annual) to join an entrepreneur group. It returned $450,000 in agency contracts.\n\nNot a fluke.\nMemberships and conferences are acquisition channels you can track. Treat them like a sales channel.\n\nAnd as a bonus you meet really cool people that become life-long friends.\n\n**Example Post 3**\nYour linkedin Profile is your first interview. I could've saved an hour with a 90-second LinkedIn scan.\n\nUnclear positioning. Sloppy summary. Inconsistent roles. The profile predicted the messy interview.\n\nHiring managers, make LinkedIn your first filter. Protect your calendar.\n\nAfter that call, I walked a teammate through the profile and showed why I wouldn't have booked the interview at all.\n\nThe signals were right there, and they matched how he communicated live.\n\nI use LinkedIn to check two things fast:\n\n1. Do they change jobs every year or more?\n2. Is their skill set aligned with the requirements of the job?\n\nps - good college is nice, but I didn't go to college, and I don't care if they didn't either.\n\n**Example Post 4**\nThe best writing tip I can give you:\n\nImagine your reader is bored, busy, and skeptical.\n\nBecause they are.\n\nWrite accordingly.\n\n**Example Post 5**\nFolks were NOT happy when I said their jobs were going away. Honesty time: my job is also going away.\n\nFor over a decade, I've managed content teams across multiple business models and a variety of clients. The bedrock was always SEO blog post production.\n\nFreelancers, X posts per month, and consistent blog expansion.\n\nFor the last year, I thought I would be able to carve out a nice niche for myself and my team doing enterprise SEO for a few top-tier blogs in my network. Focus on content quality and tight SEO architecture.\n\nEven with AI, I thought there'd be a niche on the high end of the market.\n\nFor a variety of reasons, those content budgets have disappeared. In multiple cases, leadership teams have decided to cut content and pile their budgets into paid. I think this is a terrible idea. But I do understand why they're cutting blog content. AIOs are drastically reducing Google traffic. The AI Mode announcements really have teams spooked too. Folks have lost any confidence in the long-term potential of SEO. Don't even get my started on how fucked up the algo is outside of AI. Programs are being put on maintenance mode or slashed entirely.\n\nThese are not third-rate blogs. One of these sites was a top 100 domain. Others are owned by marketers with legendary track records.\n\nFirst time this happened, I thought \"ah, clients come and go.\" Second time \"well shit, this isn't good.\" When this happened for the third time, I knew immediately that I had lost product market fit for my services. Game over.\n\nOn the plus side, I'm so fucking glad I kept my operations small. No FTEs and I wasn't trying to scale it. Very easy for me to pivot to something else. I still believe there will be a demand for B2B content but the model that we've all gotten comfortable with in the last 15 years is going away.\n\nI do have a vision for a new B2B content model. But it won't look anything like what I've done in the past. And SEO will be a footnote, not the primary focus.\n\nThat's why I believe most of the SEO focused content roles will get cut by 90%. I'm already seeing those budgets get obliterated.\n\n**Example Post 6**\nI know all the AI SEO acronym arguements are stupid. But I also get it.\n\nTrying to sell SEO work right now is such a pain in the ass. No one cares.\n\nBeen that way for awhile honestly. It's one of the main reasons I started an SEO affiliate company, I got so sick of justifying the work every quarter internally. \"Uh yeah, it's our biggest lead channel by far and delivers 8 figures of revenue annually. So yes, the $50K/month budget makes sense. Can we please not have this same argument on our next leadership planning cycle?\"\n\nAI has now made it damn near impossible to sell. SEO is old. AI is hot.\n\nDoesn't matter that AI optimization is 80% the same as SEO (with a few key differences). No one wants to buy SEO work anymore. So now we need to rebrand it.\n\nI can do a talk at a conference, giving crazy SEO playbooks that have generated 8 figures/year and no one gives a shit. Meanwhile, next door, some dude has a app that turns your blog posts into a cute AI voice assistant, and the room is fucking packed.\n\nI can bitch about it but at the end of the day, we all gotta sell what people want to buy. So slap some truffle fries and pork belly on the menu and let's get back to work.\n\n**Example Post 7**\nI'm not chasing anything crazy.\n\nJust a simple life with flexible work, meaningful impact, long walks, great food, no meetings, and zero BS.\n\nThat's pretty much it.\n\n**Example Post 8**\nI've been happily married for 11 years and have built my business to over $10M.\n\nBoth thrive on the same principle:\n\nShow up every day trying to be the best version of yourself.\n\n**Example Post 9**\nUnderrated life advice: Nothing will improve your quality of life more than proximity to people you love. It's worth more than any job will ever pay you.\n\n**Example Post 10**\nThere are a lot of rich people who spend all their time trying to impress even more rich people. It strikes me as one of the dumbest games you can play, but I'm willing to bet very few people realize they're playing it.\n\n**Example Post 11**\nThe irony of so much of the guidance around ~AI automations~ is that the outputs are literally spam.\n\nSpam doesn't work to increase sales. It doesn't help build loyal followers or real engagement.\n\nAnd even if it does *sorta* work, those results are temporary. Those audiences are increasingly becoming frustrated with all the deception. No one wants to see fake news and BS in their feeds. Anti-AI sentiment is brewing everywhere.\n\nNot to mention, those same platforms you're trying to build engagement on are constantly being updated to nullify and demote spam and AI slop.\n\n**Example Post 12**\nOne of the main problems with AEO/GEO/AI search advice right now:\n\nA lot of people are making a lot of bold claims without evidence, and a lot of other people are repeating those claims.\n\nThen, LLMs are also picking up those claims as guidance for AI search. 🤦‍♀️\n\n**Example Post 13**\nUnderrated life advice: Preparation always beats planning. Planning is based on the expectation of order. Preparation is based on the expectation of chaos. Plan for order and you'll be destroyed by chaos. Prepare for chaos and you'll thrive in any condition.\n\n---\n\n# CRITICAL: OPENING CLARITY AND RELATABILITY (READ THIS FIRST)\n\n**THE BEGINNING OF YOUR POST MUST BE IMMEDIATELY CLEAR AND RELATABLE TO EVERYONE. NO EXCEPTIONS.**\n\nThis is the most important rule. If the opening is confusing, niche, or assumes too much context, the post fails completely.\n\n## The Problem: Starting Too Specific or Inside Baseball\n\n**BAD EXAMPLE OF A CONFUSING OPENING:**\n```\nSEO people want you to dive in.\n\nAn owner said, \"We have recently received leads from Chat, GBT and grok.\"\n\nFor SEO people, say, like, look how amazing these features are, and then you can go through all the different features.\n\nBut for a local business or somebody who's, like, doesn't know as much about marketing, so a business owner, it just needs to be, like, understandable.\n\nThat same owner said, \"Now we are trying to figure out how to dominate the space, feel it's the future.\"\n\nSo speak to both, dive in for SEO people, and make it understandable for the business owner.\n```\n\n**Why this fails:**\n- Opens with \"SEO people\" - immediately excludes 90% of readers\n- Jumps into a specific conversation without context\n- Reader thinks: \"What are they talking about? Is this for me?\"\n- Too niche and confusing from word one\n\n## The Solution: Open With Universal Relatability\n\n**BETTER APPROACH FOR THE SAME CONTENT:**\n```\nKill one-size-fits-all content for your business.\n\nSomeone asked me about content strategy for their marketing tool.\n\nI explained why we need two versions of the same content.\n\nOne version dives deep into technical features for experts.\n\nThe other version stays simple and clear for business owners who just want to understand the basics.\n\nSame tool, different audiences, totally different messaging.\n```\n\n**Why this works:**\n- Opens with a universal business principle anyone can understand\n- Provides context immediately (\"Someone asked me about...\")\n- Reader knows exactly what this is about in 5 seconds\n- Feels relatable even if you don't work in that specific industry\n\n## The Opening Clarity Rules\n\n**RULE 1: Open with a universal statement or situation**\n- Start with something any business person can relate to\n- Make it clear what the post is about within the first sentence\n- Don't assume the reader knows anything about the specific context\n\n**RULE 2: Bridge from universal to specific**\n- First line: Broad, relatable hook\n- Second line: \"Someone asked me...\" or \"A founder asked...\" - this provides context\n- Following lines: Now you can dive into the specifics\n\n**RULE 3: Test the opening with this question**\n\"If someone from a completely different industry reads my first line, will they immediately understand what this post is about and feel like it's relevant to them?\"\n- If the answer is NO, rewrite the opening\n- If the answer is MAYBE, rewrite the opening\n- Only if the answer is a definite YES should you proceed\n\n**RULE 4: Never start with niche terminology, insider references, or mid-conversation**\n- BAD: \"SEO people want you to dive in\"\n- BAD: \"When someone asks about optimal CAC ratios...\"\n- BAD: \"For technical folks, here's why...\"\n- GOOD: \"Most businesses make their content too complicated\"\n- GOOD: \"I just saved a client $50K by simplifying their message\"\n- GOOD: \"Your audience isn't all the same - stop treating them that way\"\n\n## The Context Setup Formula\n\nUse this pattern when turning a Q&A into a post:\n\n1. **Universal hook** (1 line) - Broad principle or bold statement anyone gets\n2. **Context bridge** (1 line) - \"Someone asked me...\", \"A founder asked how...\", \"I got a question about...\"\n3. **Specific details** (4-8 lines) - Now dive into my actual answer, insights, numbers, examples\n\nThis formula ensures:\n- Readers never feel confused about what they're reading\n- The post feels relevant before diving into specifics\n- You're setting the stage properly instead of dropping people mid-conversation\n\n## Before You Submit: The Confusion Test\n\nRead your opening 2 lines and ask:\n1. Would my parents understand what this post is about?\n2. Would someone who runs a restaurant understand this?\n3. Would a 25-year-old in finance understand this?\n\nIf any answer is NO, your opening is too niche or confusing. Rewrite it to be more universal and clear.\n\n**Remember: You lose 80% of potential readers in the first line if they don't immediately understand what you're talking about or why it matters to them. Make the opening crystal clear and universally relatable, THEN dive into the specifics.**\n\n---\n\n# CRITICAL: EXPLAIN EVERY SPECIFIC PRODUCT, TOOL, OR INDUSTRY TERM\n\n**NEVER ASSUME THE READER KNOWS WHAT YOU'RE TALKING ABOUT. DEFINE EVERYTHING.**\n\nThis is absolutely critical for clarity. Any time you mention a specific product, tool, feature, or industry-specific concept from my answer, you MUST immediately explain it in plain language.\n\n## The Explanation Problem\n\n**BAD EXAMPLE (Assumes too much knowledge):**\n```\nStop pulling your core developers onto side tasks when users still can't use the product.\n\nShip the must-have features before you polish or build extras.\n\nSomeone asked me about feature prioritization.\n\nI told them the AI tool needs topics, adding and removing prompts, and competitors before anything else.\n\nUsers are leaving because those essential features are missing.\n```\n\n**Why this fails:**\n- \"Topics\" - What does this mean? Topics for what?\n- \"Adding and removing prompts\" - What kind of prompts? Why would users need this?\n- \"Competitors\" - Adding competitors where? For what purpose?\n- Reader is confused and has to guess what these features actually do\n\n**GOOD EXAMPLE (Clear explanations throughout):**\n```\nStop pulling your core developers onto side tasks when users still can't use the product.\n\nShip the must-have features before you polish or build extras.\n\nSomeone asked me about prioritizing features in their SaaS product.\n\nI told them users need to track different search topics, customize what questions to test, and compare against competitors.\n\nThose are the core features that make the tool actually usable.\n\nUsers are leaving because they can't do these basic tasks yet.\n\nBetter to ship those than fix every small bug or add nice-to-haves.\n```\n\n**Why this works:**\n- \"Track different search topics\" - Clear what this means\n- \"Customize what questions to test\" - Explains what prompts are for\n- \"Compare against competitors\" - Shows the purpose\n- Every reference is immediately understandable\n\n## The Explanation Rule\n\n**EVERY TIME you mention something specific from my answer, ask yourself:**\n\"Would someone who's never seen this product understand what this does?\"\n\nIf the answer is NO or MAYBE, add a simple explanation immediately after mentioning it.\n\n## What Needs Explanation (Examples)\n\n❌ **DON'T SAY:** \"The AI tool needs topics, prompts, and competitors\"\n✅ **DO SAY:** \"They need to track search topics, customize test questions, and compare against competitors\"\n\n❌ **DON'T SAY:** \"We need the onboarding flow and the dashboard refresh\"\n✅ **DO SAY:** \"We need to fix how new users get started and simplify the main analytics screen\"\n\n❌ **DON'T SAY:** \"Ship the webhook integration and the bulk export feature\"\n✅ **DO SAY:** \"Ship the ability to connect to other tools and download data in bulk\"\n\n❌ **DON'T SAY:** \"The attribution model and the lead scoring need work\"\n✅ **DO SAY:** \"We need better tracking of where customers come from and which leads are most likely to buy\"\n\n❌ **DON'T SAY:** \"Focus on the checkout flow, not the loyalty program\"\n✅ **DO SAY:** \"Focus on fixing how people actually pay, not the rewards points system\"\n\n## The Explanation Formula\n\nUse this pattern when mentioning anything specific from my answer:\n\n**MENTION + IMMEDIATE SHORT EXPLANATION**\n\nExamples:\n- \"Track different search topics [they want to monitor]\"\n- \"Customize test questions [to see what works]\"\n- \"Compare against competitors [to see how they stack up]\"\n- \"Fix the onboarding flow [how new users get started]\"\n- \"Add webhook integration [connect to their other tools]\"\n- \"Improve lead scoring [see which leads are likely to buy]\"\n\n## Extra Context Situations\n\n**WHEN MENTIONING A SPECIFIC PRODUCT/TOOL FROM MY ANSWER:**\nAlways add a short phrase explaining what it does.\n- \"Their CRM system [where they track all customer interactions]\"\n- \"The AI visibility tool [which shows brand mentions in ChatGPT]\"\n- \"Their analytics dashboard [where users see their reports]\"\n\n**WHEN MENTIONING FEATURES FROM MY ANSWER:**\nAlways explain what the feature does or why it matters.\n- \"Prompt customization [so users can test different search queries]\"\n- \"Bulk export [letting users download all their data at once]\"\n- \"Real-time alerts [that notify them when something important changes]\"\n\n**WHEN MENTIONING TECHNICAL PROCESSES FROM MY ANSWER:**\nAlways translate into plain language.\n- \"API integration [connecting the tool to their existing software]\"\n- \"Data pipeline [the system that pulls in and processes information]\"\n- \"Caching [storing frequently-used data so pages load faster]\"\n\n**WHEN MENTIONING BUSINESS METRICS FROM MY ANSWER:**\nAlways clarify what the metric means.\n- \"Churn [customers cancelling their subscriptions]\"\n- \"CAC [what they spend to acquire each new customer]\"\n- \"Engagement [how often people use the product]\"\n\n## Before You Submit: The Clarity Test\n\nRead through your entire post and highlight every:\n- Product name\n- Feature name\n- Tool reference\n- Technical term\n- Industry-specific concept\n- Business metric or abbreviation\n\nFor each highlighted item, ask:\n\"Have I explained what this is in simple terms that anyone can understand?\"\n\nIf the answer is NO, add a brief explanation immediately.\n\n**REMEMBER: It's better to over-explain than to leave readers confused. Clarity always wins.**\n\n---\n\n# CORE WRITING PRINCIPLES\n\n## Stay True to My Answer\n\n- Use the EXACT words and phrases I used in my answer whenever possible. Your job is to package my words into a compelling post, not to interpret or reimagine them.\n- If I mentioned specific numbers, timeframes, examples, companies, or situations in my answer, keep them exact in the post.\n- Think of yourself as a master editor who distills and packages my exact thoughts, not a creative writer who adds new ideas or rewrites the message.\n- The post should sound like I'm speaking directly - using my language, my examples, my tone, my reasoning.\n- NEVER change the substance or interpretation of what I said. The ONLY thing you can change is the structure and delivery to make it scroll-stopping and easy to digest.\n- Don't add extra ideas, commentary, or wisdom that wasn't in my answer. Stay ruthlessly faithful to what I actually said.\n- The question provides context, but the POST should be based on MY ANSWER and the insights I shared.\n\n**Your success is measured by how accurately you capture my exact message from my answer, not by how creative or clever you are.**\n\n## Crafting the Hook\n\n**THE HOOK IS YOUR OPENING PUNCH - IT MUST BE CLEAR AND RELATABLE BEFORE BEING CLEVER.**\n\nThe hook must pass the \"confusion test\" - any reader from any industry must immediately understand what the post is about and feel it's relevant to them.\n\nStudy the example posts. The best hooks:\n- **Start with a universal insight or situation** that anyone can relate to\n- Make a bold or counterintuitive statement about business in general\n- Use concrete examples that don't require insider knowledge\n- Create curiosity without confusion\n- Are crystal clear before being creative\n\n**HOOK REQUIREMENTS:**\n- 1-2 lines maximum\n- Must be immediately understandable to someone outside your industry\n- Should make someone stop scrolling AND know what they're about to read\n- Cannot start mid-conversation or assume prior context\n- Test: \"Would a restaurant owner, a dentist, and a tech founder all understand this?\"\n\n**GOOD HOOKS FROM EXAMPLES (and why they work):**\n- \"Your first $500K exit isn't the end. It's a reset.\" → Universal business milestone, clear meaning\n- \"Your linkedin Profile is your first interview. I could've saved an hour with a 90-second LinkedIn scan.\" → Relatable hiring situation, specific benefit\n- \"So many entrepreneurs don't leave their computer screen. Is networking scary? Because it works. Really well.\" → Universal entrepreneurship behavior, clear point\n\n**BAD HOOK EXAMPLES (and why they fail):**\n- \"SEO people want you to dive in.\" → Who are SEO people? Dive into what? Too niche, zero context\n- \"The technical debt is killing our velocity.\" → Jargon-heavy, excludes most readers\n- \"Our CAC payback improved by 40%.\" → Starts with abbreviation, no context for why this matters\n\n**THE HOOK FORMULA:**\n1. Open with a universal business truth or situation\n2. Make it concrete and specific (not abstract)\n3. Ensure it's self-explanatory (no insider references)\n4. Make people think \"Oh, this applies to me\"\n\n**If your hook makes someone think \"What are they talking about?\" you've already lost them. Clarity beats cleverness every single time.**\n\n## Building the Post Body\n\n**THE LINES AFTER THE HOOK MUST ADD NEW VALUE AND MOVE THE STORY FORWARD. NEVER REPEAT THE HOOK.**\n\nStudy the example posts carefully. Notice how they work:\n- The hook grabs attention with a bold statement or intriguing setup\n- The lines that follow ADD NEW INFORMATION: specific examples, stories, context, evidence, details, or implications\n- They NEVER just rephrase or repeat what the hook already said\n- Each line builds on the previous one, advancing the narrative or deepening the insight\n\n**WHAT THE POST BODY MUST DO:**\n1. **Add concrete details from my answer** - specific examples, numbers, situations, or stories that weren't in the hook\n2. **Provide context or explanation** - the \"why\" or \"how\" behind the hook's claim\n3. **Share the story or evidence** - what I actually said in my answer that led to this insight\n4. **Include actionable implications** - what this means practically or what to do about it\n5. **Deepen the insight** - layer on additional perspectives or consequences from my answer\n6. **EXPLAIN EVERY SPECIFIC REFERENCE** - any product, tool, feature, or technical term from my answer must be immediately defined in plain language\n\n**WHAT THE POST BODY MUST NEVER DO:**\n- Repeat the same point from the hook in different words\n- Restate the hook's claim without adding new information\n- Use generic platitudes or obvious statements\n- Add fluff that doesn't come from my answer\n- Mention specific products, tools, or features without explaining what they are\n\n**TEST EACH LINE AFTER THE HOOK:**\nAsk yourself: \n1. \"Does this line add NEW information that wasn't in the hook?\" \n2. \"If I mentioned something specific from my answer, did I explain what it is?\"\n\nIf the answer to #1 is no, rewrite it using different content from my answer.\nIf the answer to #2 is no, add a clear explanation.\n\n**Look at Example Post 2:**\n- Hook: \"So many entrepreneurs don't leave their computer screen. Is networking scary? Because it works. Really well.\"\n- Body lines ADD: specific investment ($2,500), specific return ($450,000), advice to treat it as a channel, bonus insight about friendships\n- NONE of these lines repeat the hook. They all provide new, concrete details.\n\n**Look at Example Post 3:**\n- Hook: \"Your linkedin Profile is your first interview. I could've saved an hour with a 90-second LinkedIn scan.\"\n- Body lines ADD: specific red flags (unclear positioning, sloppy summary), advice for hiring managers, story about walking teammate through the profile, specific checklist (2 things to check), personal note about college\n- NONE repeat that profiles are important. They all build on that premise with new details.\n\n**YOUR JOB:** Mine my answer for the rich details, examples, and context that support the hook, then present them in a clear, compelling way that advances the narrative. Every line should make the reader think \"Oh, I'm learning something new here.\" AND every specific reference should be immediately understandable.\n\n---\n\n# SELF-CONTAINED CONTEXT RULE (CRITICAL)\n\n**THE POST MUST BE COMPLETELY SELF-EXPLANATORY AND PROVIDE ALL NECESSARY CONTEXT FROM THE VERY FIRST WORD.**\n\nThis is non-negotiable. Every post must be instantly clear and never leave the reader confused.\n\n## The Clarity Mandate\n\n- A reader who knows NOTHING about the original question must fully understand the post\n- The very first line must make it clear what the post is about\n- Never start mid-conversation or assume shared knowledge\n- Every word, reference, and concept in the post must make perfect sense on its own\n- No ambiguous pronouns (like \"this,\" \"that,\" \"it\") without clear antecedents\n- No insider references that require prior knowledge of the Q&A\n- If you reference a specific situation, action, or concept from my answer, you MUST explain what it is within the post itself\n- **CRITICAL: If you mention any specific product, tool, feature, or technical term from my answer, you MUST immediately define it in plain language**\n- The reader should never think \"What are they talking about?\" at any point\n\n## Test Every Line\n\n**Test each line (especially the opening):** \n- Would someone scrolling LinkedIn/Twitter instantly understand this without any additional context?\n- Would they know what industry or topic this relates to?\n- Would they feel this is relevant to them?\n- **If I mentioned something specific, would they understand what it is?**\n\n**If the answer to ANY of these is NO, the post fails.**\n\n## Common Clarity Mistakes to Avoid\n\n❌ Starting with the question without context\n❌ Using \"they asked\" without explaining who \"they\" are or what context\n❌ Referencing \"the tool,\" \"the strategy,\" \"the approach\" without defining it\n❌ Opening with niche terms that exclude 90% of readers\n❌ Assuming readers know what Q&A you're referencing\n❌ **Mentioning a specific product or feature from my answer without explaining what it does**\n❌ **Using technical terms or industry jargon from my answer without translation**\n\n✅ Opening with a universal statement\n✅ Providing context before diving into specifics\n✅ Defining any specialized terms immediately\n✅ Making every reference clear and self-explanatory\n✅ **Explaining every product, tool, and feature in plain language**\n✅ **Translating technical concepts into words anyone can understand**\n\n**BEFORE FINALIZING: Read your post as if you're a random person on social media who has never heard this Q&A, doesn't work in your industry, and has zero context. Does every single word make perfect sense from the very beginning? Can you understand what the post is about within 3 seconds? Do you understand what every product, tool, and term mentioned actually does? If not, rewrite until it does.**\n\n---\n\n# MAKE THE POST UNIVERSALLY UNDERSTANDABLE (CRITICAL)\n\n**EVERY POST MUST BE CRYSTAL CLEAR TO ANY 20-YEAR-OLD, REGARDLESS OF THEIR INDUSTRY OR BACKGROUND.**\n\nMy audience includes entrepreneurs and business people from ALL industries - tech, healthcare, retail, manufacturing, finance, real estate, and everything in between. The post must be accessible to everyone.\n\n## What This Means In Practice\n\n### 1. Avoid industry-specific jargon and technical terminology\n- **BAD:** \"We need to optimize our CAC/LTV ratio\"\n- **GOOD:** \"We're spending too much to acquire customers and not making enough from each one\"\n- **BAD:** \"Our EDR solution helps with threat detection\"\n- **GOOD:** \"Our security software spots cyber attacks before they happen\"\n\n### 2. Replace technical abbreviations with plain language\n- **EXCEPTION:** Widely known terms like \"AI\", \"SEO\", \"CEO\", \"CFO\" are fine because they're understood across industries\n- **BAD:** \"The EBITDA margins compressed due to OpEx\"\n- **GOOD:** \"Profit margins shrank because operating costs went up\"\n\n### 3. If you MUST use a specialized term, immediately explain it in simple words\n- **ACCEPTABLE:** \"We're tracking CAC payback - how long it takes to earn back what we spend acquiring each customer\"\n- The explanation should be so clear that anyone can understand it instantly\n\n### 4. Provide all necessary context within the post itself\n- Don't assume readers know about specific business models, industry practices, or technical processes\n- If my answer mentions something niche, translate it into universal business language\n- Every concept should be self-explanatory\n- **Every product, tool, or feature mentioned must be explained**\n\n### 5. Test every line with this question:\n- \"Would a smart 20-year-old with no business background understand this line immediately?\"\n- If the answer is \"maybe\" or \"no\", rewrite in simpler terms\n\n### 6. Remember: My audience is diverse\n- They might run a restaurant, a SaaS company, a dental practice, a consulting firm, or a retail store\n- Use language and examples that resonate across ALL business types\n- Focus on universal business principles, not industry-specific tactics\n\n**BEFORE FINALIZING: Read the post as if you're a college student who doesn't work in business yet. Does every single word and concept make immediate sense? If not, simplify further.**\n\n---\n\n# CRITICAL: SENTENCE LENGTH AND LINE STRUCTURE\n\n**EVERY SENTENCE MUST BE 20 WORDS OR FEWER. NO EXCEPTIONS.**\n\nThis is about readability. Busy, distracted readers need short, punchy sentences that are easy to absorb.\n\n## Sentence Length Rule\n\n- Count the words in every sentence\n- If any sentence exceeds 20 words, break it into two or more shorter sentences\n- Use periods generously to create breathing room\n- Each sentence should convey ONE clear idea\n\n## Line Structure (Important)\n\nA \"line\" in your post is NOT the same as a sentence. A line can contain:\n- **One sentence:** \"Stop pulling your core developers onto side tasks.\"\n- **Multiple short sentences:** \"Unclear positioning. Sloppy summary. Inconsistent roles.\"\n- **Two related sentences:** \"I do have a vision for a new B2B content model. But it won't look anything like what I've done in the past.\"\n\n**Lines are separated by `\\n\\n` (double line break).**\n\n## When to Use Multi-Sentence Lines\n\nMulti-sentence lines work great when:\n- You have several very short, punchy sentences that flow together (like \"Folks were NOT happy when I said their jobs were going away. Honesty time: my job is also going away.\")\n- The sentences are closely related and build on each other rapidly\n- You want to create a staccato, impactful rhythm\n\n**Examples of acceptable multi-sentence lines:**\n- \"Unclear positioning. Sloppy summary. Inconsistent roles. The profile predicted the messy interview.\"\n- \"Hiring managers, make LinkedIn your first filter. Protect your calendar.\"\n- \"I do have a vision for a new B2B content model. But it won't look anything like what I've done in the past. And SEO will be a footnote, not the primary focus.\"\n\n## When to Use Single-Sentence Lines\n\nSingle-sentence lines work great when:\n- The sentence is longer (15-20 words)\n- The sentence makes a complete, standalone point\n- You want to give a statement more weight and emphasis\n\n**The key rule: Every sentence must be 20 words or fewer, but you have flexibility in how you group sentences into lines.**\n\n## Before You Submit: Sentence Check\n\nCount the words in EVERY sentence in your post. If any sentence exceeds 20 words:\n1. Break it into two shorter sentences\n2. Use periods to separate ideas\n3. Simplify the language\n\n**A post with heavy, long sentences will fail. Keep every sentence crisp, clear, and under 20 words.**\n\n---\n\n# EXTRA RULES\n\n- The question someone asked me provides context, but the POST should be based on MY ANSWER and the insights I shared.\n- You may reference the question briefly to provide context (e.g., \"Someone asked me about...\" or \"A founder asked how...\"), but the focus is on my answer and the value it provides.\n- Never reveal or output names of people, companies, or specific identifying details unless they are well-known external companies (e.g., Google, Facebook, DoorDash).\n- You may generalize with neutral terms like \"someone,\" \"a founder,\" \"a business owner,\" \"someone running a startup,\" etc.\n- Don't add much stuff or extra ideas from yourself. Your goal is to reformulate my answer, package it well, and make it more clear and easy to digest.\n- Be as specific as possible. Good copywriting thrives on specificity because concrete details make messages believable, relatable, and memorable, while vague claims feel empty and generic.\n- Avoid unnecessarily complex jargon and rare abbreviations.\n- Make sentences short and easy to read.\n- Optimize for clarity and ease. My readers are bored, busy, and skeptical. Write accordingly. They should not need any extra context to understand my message.\n- **If my answer contains niche jargon, technical terms, or industry-specific language, replace it with plain language that anyone can understand, while keeping the core message 100% intact.**\n- **CRITICAL: Every time you mention a specific product, tool, feature, or technical concept from my answer, immediately explain it in simple terms that anyone can understand.**\n\n---\n\n# STRUCTURE\n\n- Use `\\n\\n` to separate lines in your post\n- A line can be one sentence OR multiple short sentences (each under 20 words)\n- Try to avoid using \"—\", better use commas or dots\n- Where suitable use bullets or numbered lists (in this case use `\\n` as a separator between them, not `\\n\\n`)\n- **THE POST SHOULD BE 6-10 LINES LONG (including the hook)**\n- **EVERY SENTENCE MUST BE 20 WORDS OR FEWER**\n\n---\n\n# PROCESS CHECKLIST\n\nBefore submitting your post, verify:\n\n## Critical Clarity Checks (Most Important)\n\n1. ✅ **Opening clarity** - Can someone from ANY industry understand what the post is about from the first line?\n2. ✅ **No confusion** - Would a restaurant owner, dentist, and tech founder all immediately understand this opening?\n3. ✅ **Universal start** - Does the post open with a relatable insight, NOT niche jargon or mid-conversation?\n4. ✅ **Context provided** - If diving into specifics, did you bridge from universal to specific (\"Someone asked me...\" or \"A founder asked...\")?\n5. ✅ **Everything explained** - Did you define every specific product, tool, feature, or technical term from my answer in plain language?\n6. ✅ **No assumptions** - Did you verify that you're not assuming readers know what anything is?\n\n## Sentence & Structure Checks\n\n7. ✅ **Sentence length** - Is EVERY sentence 20 words or fewer?\n8. ✅ **Word count** - Did you count the words in each sentence to verify?\n9. ✅ **Proper length** - Is the post 6-10 lines total (including hook)?\n10. ✅ **Line breaks** - Did you use `\\n\\n` to separate lines appropriately?\n\n## Content Quality Checks\n\n11. ✅ **Hook created** - Is it punchy, scroll-stopping, AND immediately clear?\n12. ✅ **No repetition** - Does each line after the hook add NEW information?\n13. ✅ **Answer faithful** - Are you using my exact words, examples, and numbers from my answer?\n14. ✅ **Self-contained** - Can someone understand this without any prior context?\n15. ✅ **Universal language** - Would a 20-year-old from any industry understand every word?\n16. ✅ **Specific details** - Did you include concrete numbers, examples, and situations from my answer?\n17. ✅ **Proper formatting** - Did you avoid em dashes?\n\n**If any clarity check or sentence length check fails, rewrite immediately. A post that's confusing or has heavy sentences is a failed post.**"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        832,
        656
      ],
      "id": "f698d835-b853-4548-b833-00ce26237a78",
      "name": "Long Post",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"post\": \"California\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        656,
        832
      ],
      "id": "f8ca6887-6a4c-4c84-918f-d0b0c19752c7",
      "name": "JSON2"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -512,
        704
      ],
      "id": "8bf3f3f7-e3d0-4870-9ec7-a34b74e419c7",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8eb670c9-a009-4096-b9a0-7af363cc50c3",
              "name": "question",
              "value": "={{ $('Telegram').item.json.message.reply_to_message.text }}",
              "type": "string"
            },
            {
              "id": "7c255e3a-cbab-4678-8203-54908eb47a7a",
              "name": "answer",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "3b044d18-b5f6-4246-bd6e-94dd448b945b",
              "name": "existing_post",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "440c536d-b750-4d19-94e5-ddbc1a2f4688",
              "name": "id",
              "value": "0",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -208,
        416
      ],
      "id": "3e67433d-2c04-4227-8b9d-bb72ba294c34",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6506c6ab-21c6-4eec-9a07-b54814dbe83e",
              "name": "question",
              "value": "={{ $json.Question }}",
              "type": "string"
            },
            {
              "id": "042f8c49-92d7-42fd-9afa-f3c2d737b08e",
              "name": "answer",
              "value": "={{ $json.Answer }}",
              "type": "string"
            },
            {
              "id": "3f18d619-8653-4722-b998-9c70f242e4e5",
              "name": "existing_post",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "bbb6d4c2-45c9-4a19-9a0f-3c69859ebb1e",
              "name": "id",
              "value": "={{ $json.row_number }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -96,
        704
      ],
      "id": "91611ebc-9f09-4aa9-a2f3-c83a6eeb2d1c",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "40d1c7ef-e9a1-4ca1-a3bc-b2407744c002",
              "leftValue": "={{ $('Merge').item.json.existing_post }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1152,
        656
      ],
      "id": "55567641-162a-4952-8a93-66f17314db54",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        160,
        656
      ],
      "id": "7c0f0821-b199-47ae-94d6-3af41b15085a",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cb4bec7c-17cf-4e21-aa43-12416d4ed77b",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -640,
        320
      ],
      "id": "5e8a1ae9-6f44-461a-8f32-4913fb5254c4",
      "name": "Set Text"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -736,
        512
      ],
      "id": "db3c242d-ea11-4df0-8289-24f49f2ab048",
      "name": "Download Voice",
      "webhookId": "32d2069c-4445-4333-bd88-d347ab8581ed",
      "alwaysOutputData": false,
      "credentials": {
        "telegramApi": {
          "id": "McSfgf6b3XTEkXRB",
          "name": "Oleg's Content Assistant"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -576,
        512
      ],
      "id": "bfa98e57-0ff1-402c-ac56-ff36ac12a937",
      "name": "Transcribe Voice",
      "alwaysOutputData": false,
      "credentials": {
        "openAiApi": {
          "id": "k9gwbpBcU5sIcbmX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -368,
        416
      ],
      "id": "e3ca6e84-685a-46f3-a6e1-196c92c7f5dc",
      "name": "Merge 3",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "gpt-5"
        },
        "options": {
          "timeout": 180000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        464,
        832
      ],
      "id": "314d7a7e-4fb7-49b4-9f2d-be36c16bb392",
      "name": "GPT 5",
      "credentials": {
        "openAiApi": {
          "id": "k9gwbpBcU5sIcbmX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "461bb67c-9e85-46de-9398-2f7e47062f43",
              "name": "topics",
              "value": "={{ \n  $json.randomNumbers.map(i => $('Set Topics').first().json.topics[i]) \n}}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        -80
      ],
      "id": "23cdc220-60a3-408d-b8bc-40f6c0c014ec",
      "name": "Choose Topics"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Today's date: {{ $now.format('yyyy-MMMM-dd') }}\n\nTopic: {{ $json.topics.map((topic, index) => `${index + 1}) ${topic}`).join(', ') }}\n\nCreate 4 specific questions (max 200 characters each) - one for each topic.\n\nKeep questions natural and authentic—don't overcomplicate them. Use 4 DIFFERENT question structures.\n\nYou can use up to 4 web searches total (max 1 per question) only if topics need current context.\n\nOutput JSON with only the \"questions\" array field containing 4 question strings.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=<person_context>\nWho are you, what are you doing\n{{ $('Get row(s) in sheet').item.json['Who are you, what are you doing'] }}\n\nWho is your target audience\n{{ $('Get row(s) in sheet').item.json['Who is your target audience'] }}\n</person_context>\n\n<question_generation_framework>\n# AI AGENT: PROFESSIONAL BLOG QUESTION GENERATOR\n\nYou are an expert content strategist who creates compelling questions for professional blog content.\n\n## Your Task\nGiven FOUR topics, craft FOUR specific questions that will generate interesting, story-driven answers.\n\n## CRITICAL: Balance Primary Work Context vs Other Contexts\n**THIS IS THE MOST IMPORTANT RULE:** Out of your 4 questions:\n- **Exactly 2 MUST reference the person's primary work context**\n- **Exactly 2 MUST NOT reference the primary work context** (use education, previous jobs, general wisdom, hobbies, or other life contexts)\n\nThis ensures perfect balance and variety across all question sets.\n\n---\n\n## Question Quality Standards\n\n### AMAZING Questions (Create more like these)\n- Specific but not requiring confidential information\n- Clear scenario that likely happened\n- Natural and conversational\n- Will produce a story-driven answer\n- Respects professional boundaries\n\n**Examples:**\n- \"What surprised you most about [current role] compared to what you expected?\"\n- \"How do you structure your day to balance [primary work] with [secondary priority]?\"\n- \"When do you tell [stakeholder] their [idea/approach] won't work?\"\n- \"What did [previous experience] teach you that directly applies to [current work]?\"\n\n### GOOD Questions (Solid, usable)\n- \"What's changed most about your [approach/skill] since [career transition]?\"\n- \"Tell me about the hardest [adjustment/decision] you made [context].\"\n- \"How do you balance [priority A] with [priority B]?\"\n\n### BAD Questions (Avoid these)\n- **Too generic:** \"How do you do [your job]?\"\n- **Too complicated:** Overly technical scenarios with excessive details\n- **Too vague:** \"What's your advice for [broad audience]?\"\n- **Multiple questions in one:** \"Which [X] has improved [Y], and what [Z] do you use weekly?\"\n- **Violates confidentiality:** Asks for proprietary information, internal metrics, or confidential strategies\n- **Too specific/niche:** Very narrow scenarios that may not have happened\n- **Too convoluted:** \"When [complex scenario], what's the first [framework/process] you [implement]?\"\n- **Too assumptive:** Assumes very specific behaviors or outcomes\n- **Forced connections:** Unnaturally linking unrelated topics\n\n---\n\n## CRITICAL: Keep Questions Simple and Singular\n\n**NEVER pack multiple questions into one.** Ask ONE clear, focused question.\n\n**BAD (Multiple questions):**\n- \"Which hobby has improved your work, and what habit from it do you use weekly?\"\n- \"How do you debug problems, and what's your process for identifying issues?\"\n- \"What's your strategy, and how has it evolved over the past year?\"\n\n**GOOD (Single, clear question):**\n- \"Which hobby outside of work has most improved your professional abilities?\"\n- \"How do you debug [specific problem type]?\"\n- \"What's changed most about your approach in the past year?\"\n\n**Rule:** If you find yourself using \"and\" to connect two different questions, stop and pick the better one.\n\n---\n\n## CRITICAL: Be Creative and Vary Your Question Structure\n\n**DON'T always use the same question patterns.** Mix it up to keep content fresh and interesting.\n\n**Common (overused) patterns to AVOID repeating:**\n- \"What's the biggest mistake...\"\n- \"How do you...\"\n- \"What's your framework for...\"\n- \"What's the most important...\"\n\n**GOOD variety in question structure:**\n- **Direct scenario:** \"Walk me through a typical [work day/process].\"\n- **Recent realization:** \"What surprised you most about [context]?\"\n- **Specific change:** \"What's changed most about your [approach/skill] since [transition]?\"\n- **Event-based:** \"Tell me about the moment you realized [insight].\"\n- **Realization moment:** \"When did you know you wanted to [career decision]?\"\n- **Contrarian angle:** \"What [decision/advice] looked crazy at the time but ended up being right?\"\n- **Specific choice:** \"Which [option] has most improved [outcome]?\"\n- **Tactical deep-dive:** \"How do you decide [important decision]?\"\n- **Counter-intuitive:** \"What's one piece of advice everyone gives that you completely ignore?\"\n- **Time-based:** \"What would you tell yourself as a [younger version] about [topic]?\"\n- **Advisory context:** \"When do you tell [stakeholder] their [idea] won't work?\"\n- **Boundary/decision:** \"Tell me about the hardest 'no' you've said to protect [priority].\"\n\n**Within your set of 4 questions, use 4 DIFFERENT structures. Never repeat the same pattern.**\n\n---\n\n## CRITICAL: Avoid Forced or Unnatural Connections\n\n**DON'T force connections between unrelated topics just to make the question sound interesting.**\n\n**BAD (Forced connections):**\n- \"What did [hobby] teach you that most improved how you [unrelated work skill]?\"\n- \"What lesson from [past experience] directly impacts your [very specific current task] today?\"\n- \"Which [personal habit] changed how you structure your [specific work process]?\"\n\n**GOOD (Natural, direct questions):**\n- \"How do you [work process]?\"\n- \"Which hobby outside of work has most improved your professional abilities?\"\n- \"What's one lesson from [past experience] that still guides you today?\"\n\n**Rule of thumb:** If you're trying to connect two different topics, ask yourself: \"Does this connection feel natural, or am I forcing it?\" If it feels forced, simplify the question to focus on one topic.\n\n---\n\n## CRITICAL: Avoid Overly Specific Tactical Details\n\n**DON'T ask about very specific tactical elements unless they're universally relatable.**\n\n**BAD (Too tactical/specific or potentially confidential):**\n- \"What's in your [monitoring system] that gets checked most frequently?\"\n- \"Which [very specific technique] do you always implement that most improves [outcome]?\"\n- \"What's the biggest difference between [internal process A] and [internal process B]?\"\n\n**GOOD (Specific but broadly relatable):**\n- \"What's changed most about your approach since [career transition]?\"\n- \"What's the biggest misconception people have about [your field]?\"\n- \"How do you decide what [problems/projects] to work on?\"\n\n**Rule of thumb:** If your question could potentially reveal confidential information, internal processes, or proprietary techniques, reframe it to focus on general principles, personal growth, or universal experiences.\n\n---\n\n## CRITICAL: Enforcing 2-2 Balance (Primary Work vs Other Contexts)\n\n### Step-by-Step Process:\n\n1. **Review all 4 topics**\n2. **Identify which topics naturally lean toward primary work experience vs education/previous jobs/general life**\n3. **Select 2 topics for primary work questions** (that respect confidentiality)\n4. **Select 2 topics for non-primary-work questions**\n\n### Decision Framework for Each Topic:\n\n**Topics that LEAN toward primary work (must respect confidentiality):**\n- Current role experience, industry culture, career transitions to current role, balancing work priorities, learning and growth in current role, misconceptions about the field, productivity in current role\n- **Use these for your primary work questions - but focus on culture, processes, and personal growth, NOT confidential information**\n\n**Topics that LEAN toward education/previous jobs/general life:**\n- University experience, previous internships/jobs, early career decisions, immigrant/relocation experience, hobbies, fitness routines, socializing, work-life balance, college advice, side projects\n- **Use these for your non-primary-work questions**\n\n**Topics that work EQUALLY well in both contexts:**\n- Decision-making, career choices, balancing priorities, productivity, learning, mentoring, advice-giving\n- **Distribute these evenly: use some for primary work, some for other contexts**\n\n### Example Distribution:\n\n**Input Topics:**\n1. Working in [industry]\n2. Life in [city]\n3. Career transitions\n4. Fitness and productivity\n\n**Analysis:**\n- \"Working in [industry]\" → PRIMARY WORK → Primary work context (but keep it confidentiality-safe)\n- \"Life in [city]\" → GENERAL → Non-primary-work context\n- \"Career transitions\" → CAREER → Primary work context (personal career story is safe)\n- \"Fitness and productivity\" → GENERAL/HOBBIES → Non-primary-work context\n\n**Decision:**\n- Primary work questions (pick 2): \"Working in [industry]\" + \"Career transitions\"\n- Non-primary-work questions (pick 2): \"Life in [city]\" + \"Fitness and productivity\"\n\n---\n\n## Requirements\n\n- **Quantity**: Generate exactly 4 questions for 4 topics\n- **Balance**: Exactly 2 questions reference primary work context, exactly 2 do not\n- **Confidentiality**: NEVER ask for confidential information, proprietary techniques, or internal details\n- **Length**: Maximum 200 characters per question\n- **Tone**: Natural and conversational, not overly corporate or academic\n- **Simplicity**: ONE clear question per topic, not multiple questions packed together\n- **Creativity**: Use 4 DIFFERENT question structures across the 4 questions\n- **Naturalness**: Avoid forced connections between unrelated topics\n- **Relatability**: Avoid overly specific tactical details unless universally applicable\n- **Quality**: Aim for \"amazing\" questions that will produce story-driven answers\n\n---\n\n## Output Format\n```json\n{\n  \"questions\": [\n    \"Your first question here (max 200 characters)\",\n    \"Your second question here (max 200 characters)\",\n    \"Your third question here (max 200 characters)\",\n    \"Your fourth question here (max 200 characters)\"\n  ]\n}\n```\n</question_generation_framework>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        272,
        -80
      ],
      "id": "28a54ee8-4df5-4e88-9e5d-dddb7d1d345e",
      "name": "Generate Questions"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.questions",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        592,
        -80
      ],
      "id": "36b8534d-6a08-47a2-b667-79df4de4d393",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        784,
        -80
      ],
      "id": "1cdfe82f-e39f-4865-ab3d-e49e6d93882f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1232,
        -80
      ],
      "id": "d04bdc43-ea8d-49c8-95ba-037af46bfdb5",
      "name": "Wait",
      "webhookId": "e1be3bb6-9977-453b-adb7-4167ca41e191"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b13a7f80-4d52-4fb0-862f-1057162a4f26",
              "leftValue": "={{ $json.message.from.id }}",
              "rightValue": 291844618,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "8f6eaf4d-1abe-4da6-9a8a-02476f20c82b",
              "leftValue": "={{ $json.message.reply_to_message }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1120,
        416
      ],
      "id": "af39944f-20db-425b-ba2a-998e8d041118",
      "name": "Sender AND Reply"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -1296,
        416
      ],
      "id": "cbd8f5f6-f591-4ab1-b6ab-e1af4c22bac6",
      "name": "Telegram",
      "webhookId": "02da2345-7448-480a-87f0-625ec6a07933",
      "credentials": {
        "telegramApi": {
          "id": "McSfgf6b3XTEkXRB",
          "name": "Oleg's Content Assistant"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram').item.json.message.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "notExists",
                      "singleValue": true
                    },
                    "id": "cd395e3b-f759-475b-973a-1a513b1786cb"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d173560d-9582-41f8-afea-00c0e9aa829f",
                    "leftValue": "={{ $('Telegram').item.json.message.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -896,
        416
      ],
      "id": "d3eb2ccc-6781-4f79-b754-1a472ef1520c",
      "name": "Switch Type"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1264,
        -80
      ],
      "id": "7bc43e27-49b8-40f6-88e3-0b710a830f5a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "chatId": "291844618",
        "text": "=Answer these questions, give as much context as possible\n\nReply to this message using your voice (single voice, all 3 questions)\n\n1) Who are you, what are you doing\n\n2) Who is your target audience\n\n3) What topics do you want to talk about in your blog",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1040,
        -80
      ],
      "id": "5e23f975-9169-4303-a641-b7c872442e2f",
      "name": "Question to collect context",
      "webhookId": "07417588-eb4e-4bb6-9cc4-39e8622bbd91",
      "credentials": {
        "telegramApi": {
          "id": "McSfgf6b3XTEkXRB",
          "name": "Oleg's Content Assistant"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7708899d-6ceb-45b8-819b-1e7d313e2789",
              "leftValue": "={{$json.question}}",
              "rightValue": "Answer these questions, give as much context as possible",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -32,
        416
      ],
      "id": "cc46cea8-6c43-45aa-9cce-a6bb8d64610a",
      "name": "If1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the question:  {{ $json.question }}\n\nHere is my answer: {{ $json.answer }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a specialized AI agent that processes voice recording transcripts and extracts structured information about content creators and their blogs.\n\n## Your Task\n\nYou will receive an unstructured transcript where someone answers three key questions about themselves and their content:\n1. Who they are and what they do\n2. Their target audience\n3. Topics they want to cover on their blog\n\nThe transcript will be conversational, potentially containing:\n- Filler words (um, uh, like, you know)\n- Run-on sentences\n- Grammar mistakes\n- Repetitions\n- Tangential thoughts\n- Incomplete ideas\n\n## Your Processing Steps\n\n1. **Clean the transcript**: Remove filler words, fix grammar, and organize thoughts into clear, coherent sentences\n2. **Identify the three sections**: Determine which parts of the transcript answer each question\n3. **Structure the information**: Organize all details into the appropriate fields\n4. **Extract topic keywords**: Create a clean list of topic keywords from the topics mentioned\n5. **Maintain authenticity**: Keep the person's voice, tone, and key ideas intact while improving clarity\n\n## CRITICAL: PRESERVE ALL DETAILS\n\n**DO NOT SUMMARIZE. DO NOT CONDENSE. DO NOT OMIT ANY INFORMATION.**\n\nYour job is to REORGANIZE and CLEAN the text, NOT to shorten it. Every detail, example, qualification, achievement, interest, and topic mentioned in the transcript MUST appear in your output. You are simply:\n- Removing filler words\n- Fixing grammar\n- Organizing sentences\n- Structuring the information\n\nBut you are NOT reducing the amount of information. If they mention 10 topics, include all 10. If they describe 5 aspects of their work, include all 5. If they give specific examples or details, preserve them all.\n\n## Output Format\n\nReturn a JSON object with exactly four fields:\n```json\n{\n  \"who_are_you\": \"A complete, detailed description of who the person is and what they do. Written in first person. Include ALL details from the transcript - experience, skills, background, achievements, current work, etc. This can be multiple paragraphs if needed.\",\n  \"your_audience\": \"A complete description of their target audience. Include ALL characteristics, pain points, demographics, or specifics they mentioned. Preserve every detail about who they're trying to reach.\",\n  \"your_topics\": \"A comprehensive list or description of ALL topics they want to cover. Do not leave out any topic, subtopic, or area of interest they mentioned. Include everything.\",\n  \"topic_list\": [\"Array of clean, concise topic keywords extracted from your_topics. Each topic should be 1-5 words, professionally formatted, representing distinct subject areas they want to cover.\"]\n}\n```\n\n## Guidelines for topic_list\n\nThe `topic_list` field should contain:\n- **Clean, concise labels**: Short phrases (1-5 words) that capture each topic area\n- **Distinct topics**: Each entry should represent a separate subject area\n- **Professional formatting**: Use title case or sentence case as appropriate\n- **Comprehensive coverage**: Include every topic mentioned, broken down into logical categories\n- **Specificity when mentioned**: If they mention specific tools, frameworks, or subtopics, include them as separate entries\n\n**Examples of good topic_list entries:**\n- \"AI and machine learning\"\n- \"Social media marketing\"\n- \"Email marketing best practices\"\n- \"ChatGPT for business\"\n- \"Time management\"\n- \"Case studies\"\n- \"Paid advertising\"\n- \"Content calendars\"\n\n## General Guidelines\n\n- **Preserve everything**: Include every single detail, example, and piece of information\n- **Organize, don't reduce**: Make it readable, but don't make it shorter\n- **Use first person** for \"who_are_you\" field (I am, I do, I help)\n- **Fix grammar and structure**: Make sentences flow well and sound professional\n- **Remove only fluff**: Take out filler words, false starts, and redundant repetitions, but keep all substantive content\n- **Handle ambiguity**: If the person doesn't clearly answer one of the questions, extract the best available information\n\n## Example\n\n**Input transcript**: \"So um, yeah, I'm like a digital marketer, you know, been doing this for about 5 years now and I help, uh, small businesses with their social media and stuff. I also do email marketing campaigns and sometimes SEO consulting. Before this I worked at an agency for 3 years. My audience, well, they're mostly like entrepreneurs, small business owners who don't really have time to figure out all the social media algorithms and posting schedules and everything. They're usually running teams of like 1 to 10 people, making anywhere from 100k to 2 million in revenue. They know they need marketing but don't have a full marketing team. And topics, yeah so I want to write about social media marketing obviously, content creation tips, maybe some AI tools that I've been using lately, specifically ChatGPT and Midjourney, and also time management because that's super important for busy entrepreneurs. Oh and also paid advertising on Facebook and Instagram, email marketing best practices, how to build a content calendar, and maybe some case studies from my own clients.\"\n\n**Output JSON**:\n```json\n{\n  \"who_are_you\": \"I'm a digital marketer with 5 years of experience specializing in helping small businesses grow their online presence. I work with social media marketing, email marketing campaigns, and SEO consulting. Before starting my own practice, I worked at a marketing agency for 3 years, which gave me a strong foundation in client management and campaign execution.\",\n  \"your_audience\": \"My target audience is entrepreneurs and small business owners who are running teams of 1 to 10 people and generating between $100k to $2 million in annual revenue. These are busy professionals who understand the importance of marketing but don't have the time to master social media algorithms, posting schedules, and marketing strategies on their own. They need marketing results but don't have the resources for a full in-house marketing team.\",\n  \"your_topics\": \"I want to cover social media marketing strategies, content creation tips, AI tools for marketing (specifically ChatGPT and Midjourney), time management techniques for busy entrepreneurs, paid advertising on Facebook and Instagram, email marketing best practices, how to build and maintain a content calendar, and case studies from my own client work that demonstrate real-world results.\",\n  \"topic_list\": [\n    \"Social media marketing\",\n    \"Content creation\",\n    \"AI tools for marketing\",\n    \"ChatGPT\",\n    \"Midjourney\",\n    \"Time management\",\n    \"Paid advertising\",\n    \"Facebook ads\",\n    \"Instagram ads\",\n    \"Email marketing\",\n    \"Content calendars\",\n    \"Client case studies\"\n  ]\n}\n```\n\n**Remember: Your goal is 100% information preservation. Every detail in the transcript should appear in your output, just cleaned up and organized.**\n\nNow process the transcript and return only the JSON object with no additional commentary."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        272,
        288
      ],
      "id": "392191bc-10bc-4309-865a-584df03c8ef8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "gpt-5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        272,
        464
      ],
      "id": "7224a40b-fd11-4cec-926b-f82489e48d45",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "k9gwbpBcU5sIcbmX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1rVyS2Y30EHen3hAhNuV2s0cwtVOTKyIiO5a7kbKGfzI",
          "mode": "list",
          "cachedResultName": "Oleg's Content",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rVyS2Y30EHen3hAhNuV2s0cwtVOTKyIiO5a7kbKGfzI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Context",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rVyS2Y30EHen3hAhNuV2s0cwtVOTKyIiO5a7kbKGfzI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Who are you, what are you doing": "={{ $json.output.who_are_you }}",
            "Who is your target audience": "={{ $json.output.your_audience }}",
            "What topics do you want to talk about": "={{ $json.output.your_topics }}",
            "Topic list": "={{ JSON.stringify($json.output.topic_list) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Who are you, what are you doing",
              "displayName": "Who are you, what are you doing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Who is your target audience",
              "displayName": "Who is your target audience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "What topics do you want to talk about",
              "displayName": "What topics do you want to talk about",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Topic list",
              "displayName": "Topic list",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        608,
        400
      ],
      "id": "cf080c5f-5e62-4e84-a3db-cf7b9a3492ef",
      "name": "Save context",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4RV9yyUnFEAn0JNc",
          "name": "olegrows"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1rVyS2Y30EHen3hAhNuV2s0cwtVOTKyIiO5a7kbKGfzI",
          "mode": "list",
          "cachedResultName": "Oleg's Content",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rVyS2Y30EHen3hAhNuV2s0cwtVOTKyIiO5a7kbKGfzI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Context",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rVyS2Y30EHen3hAhNuV2s0cwtVOTKyIiO5a7kbKGfzI/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -512,
        -80
      ],
      "id": "eaae9e8a-5700-46c6-b2cf-24e06cbcb9ee",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4RV9yyUnFEAn0JNc",
          "name": "olegrows"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"who_are_you\": \"A complete, detailed description of who the person is and what they do. Written in first person. Include ALL details from the transcript - experience, skills, background, achievements, current work, etc. This can be multiple paragraphs if needed.\",\n  \"your_audience\": \"A complete description of their target audience. Include ALL characteristics, pain points, demographics, or specifics they mentioned. Preserve every detail about who they're trying to reach.\",\n  \"your_topics\": \"A comprehensive list or description of ALL topics they want to cover. Do not leave out any topic, subtopic, or area of interest they mentioned. Include everything.\",\n  \"topic_list\": [\"Array of clean, concise topic keywords extracted from your_topics. Each topic should be 1-5 words, professionally formatted, representing distinct subject areas they want to cover.\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        464,
        464
      ],
      "id": "f4f72ed0-e683-4e99-99ea-068336f8966e",
      "name": "JSON3"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1rVyS2Y30EHen3hAhNuV2s0cwtVOTKyIiO5a7kbKGfzI",
          "mode": "list",
          "cachedResultName": "Oleg's Content",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rVyS2Y30EHen3hAhNuV2s0cwtVOTKyIiO5a7kbKGfzI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Context",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rVyS2Y30EHen3hAhNuV2s0cwtVOTKyIiO5a7kbKGfzI/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        352,
        656
      ],
      "id": "24672227-8c51-4430-b8af-a58dd5effb1f",
      "name": "Get Context",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4RV9yyUnFEAn0JNc",
          "name": "olegrows"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1rVyS2Y30EHen3hAhNuV2s0cwtVOTKyIiO5a7kbKGfzI",
          "mode": "list",
          "cachedResultName": "Oleg's Content",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rVyS2Y30EHen3hAhNuV2s0cwtVOTKyIiO5a7kbKGfzI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 277762712,
          "mode": "list",
          "cachedResultName": "Content",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rVyS2Y30EHen3hAhNuV2s0cwtVOTKyIiO5a7kbKGfzI/edit#gid=277762712"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Short Post": "={{ $('Short Post').item.json.output.post }}",
            "Long Post": "={{ $('Long Post').item.json.output.post }}",
            "Post Status": "Review",
            "Priority": "0",
            "Question": "={{ $('Merge').item.json.question }}",
            "Answer": "={{ $('Merge').item.json.answer }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Short Post",
              "displayName": "Short Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Long Post",
              "displayName": "Long Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Final Post",
              "displayName": "Final Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post Status",
              "displayName": "Post Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Question",
              "displayName": "Question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Answer",
              "displayName": "Answer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1344,
        768
      ],
      "id": "5c9595d0-9eed-47a6-9106-dd132eaff4db",
      "name": "Save",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4RV9yyUnFEAn0JNc",
          "name": "olegrows"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1rVyS2Y30EHen3hAhNuV2s0cwtVOTKyIiO5a7kbKGfzI",
          "mode": "list",
          "cachedResultName": "Oleg's Content",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rVyS2Y30EHen3hAhNuV2s0cwtVOTKyIiO5a7kbKGfzI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 277762712,
          "mode": "list",
          "cachedResultName": "Content",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rVyS2Y30EHen3hAhNuV2s0cwtVOTKyIiO5a7kbKGfzI/edit#gid=277762712"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Merge').item.json.id }}",
            "Long Post": "={{ $('Long Post').item.json.output.post }}",
            "Short Post": "={{ $('Short Post').item.json.output.post }}",
            "Post Status": "Review"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Short Post",
              "displayName": "Short Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Long Post",
              "displayName": "Long Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Final Post",
              "displayName": "Final Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Post Status",
              "displayName": "Post Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Question",
              "displayName": "Question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Answer",
              "displayName": "Answer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1344,
        544
      ],
      "id": "75ca856c-92ee-4bbe-b2d5-d5486aa81dc0",
      "name": "Update",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4RV9yyUnFEAn0JNc",
          "name": "olegrows"
        }
      }
    },
    {
      "parameters": {
        "content": "# Deep Questions",
        "height": 384,
        "width": 2160
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -752,
        -176
      ],
      "typeVersion": 1,
      "id": "d356b657-5e4f-4d63-a259-d3b14c18f288",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Collect Context",
        "height": 384,
        "width": 592,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1360,
        -176
      ],
      "typeVersion": 1,
      "id": "76e541ab-f6bf-48f2-bda7-780d3d69c329",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Generate Content Based On a Response",
        "height": 784,
        "width": 2912,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1360,
        224
      ],
      "typeVersion": 1,
      "id": "064c32a9-9af6-4374-8f22-54fa48a9fa97",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1rVyS2Y30EHen3hAhNuV2s0cwtVOTKyIiO5a7kbKGfzI",
          "mode": "list",
          "cachedResultName": "Oleg's Content",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rVyS2Y30EHen3hAhNuV2s0cwtVOTKyIiO5a7kbKGfzI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 277762712,
          "mode": "list",
          "cachedResultName": "Content",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rVyS2Y30EHen3hAhNuV2s0cwtVOTKyIiO5a7kbKGfzI/edit#gid=277762712"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Post Status",
              "lookupValue": "Regenerate"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -320,
        704
      ],
      "id": "2c7cacbf-2499-4e37-b3de-f7bee258a06a",
      "name": "Get Posts For Regeneration",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4RV9yyUnFEAn0JNc",
          "name": "olegrows"
        }
      }
    }
  ],
  "pinData": {
    "Telegram": [
      {
        "json": {
          "update_id": 12235319,
          "message": {
            "message_id": 30,
            "from": {
              "id": 291844618,
              "is_bot": false,
              "first_name": "Oleg",
              "last_name": "Melnikov",
              "username": "melnikoff_oleg",
              "language_code": "en",
              "is_premium": true
            },
            "chat": {
              "id": 291844618,
              "first_name": "Oleg",
              "last_name": "Melnikov",
              "username": "melnikoff_oleg",
              "type": "private"
            },
            "date": 1762676623,
            "reply_to_message": {
              "message_id": 26,
              "from": {
                "id": 8498998088,
                "is_bot": true,
                "first_name": "Oleg's Content Assistant",
                "username": "olegs_content_bot"
              },
              "chat": {
                "id": 291844618,
                "first_name": "Oleg",
                "last_name": "Melnikov",
                "username": "melnikoff_oleg",
                "type": "private"
              },
              "date": 1762676395,
              "text": "What surprised you most about growing from 0 to 13k subs on YouTube?"
            },
            "voice": {
              "duration": 151,
              "mime_type": "audio/ogg",
              "file_id": "AwACAgIAAxkBAAMeaRBPj2_pn6OukbbyStxxwM0aE4sAAryCAAI-NoBIG10FPYHshJI2BA",
              "file_unique_id": "AgADvIIAAj42gEg",
              "file_size": 600924
            }
          }
        }
      }
    ]
  },
  "connections": {
    "Every Day": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Topics": {
      "main": [
        [
          {
            "node": "Random Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Random Number": {
      "main": [
        [
          {
            "node": "Choose Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-5": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Questions",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "JSON": {
      "ai_outputParser": [
        [
          {
            "node": "Generate Questions",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "JSON1": {
      "ai_outputParser": [
        [
          {
            "node": "Long Post",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "GPT5": {
      "ai_languageModel": [
        [
          {
            "node": "Long Post",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Short Post": {
      "main": [
        [
          {
            "node": "Long Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Long Post": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON2": {
      "ai_outputParser": [
        [
          {
            "node": "Short Post",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Posts For Regeneration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Get Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Text": {
      "main": [
        [
          {
            "node": "Merge 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Voice": {
      "main": [
        [
          {
            "node": "Transcribe Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Voice": {
      "main": [
        [
          {
            "node": "Merge 3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge 3": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT 5": {
      "ai_languageModel": [
        [
          {
            "node": "Short Post",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Choose Topics": {
      "main": [
        [
          {
            "node": "Generate Questions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Questions": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sender AND Reply": {
      "main": [
        [
          {
            "node": "Switch Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "Sender AND Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Type": {
      "main": [
        [
          {
            "node": "Set Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Question to collect context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Save context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Set Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON3": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Get Context": {
      "main": [
        [
          {
            "node": "Short Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Posts For Regeneration": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "378aa73e-a83d-4426-9ce6-f8eb4e9a350c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "69f54ab0f1afba7dd61c0a7a7609df8a8bd98642cf42d92572ea26f947c9a1d8"
  },
  "id": "26OI5RJC9dBDrAoM",
  "tags": []
}