WorkFlows/proposal genrator -vaild.json
{
  "name": "proposal genrator -vaild",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "assessment-request",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f6723255-aa75-4630-b0e6-1e77c37e82f4",
      "name": "Assessment Request Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        160,
        3376
      ],
      "webhookId": "4f1610ed-fa5e-433b-ba13-12a5977de89d"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "job_description",
              "value": "={{ $json.body.job_description }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "common_proposal_template",
              "value": "={{ $json.body.common_proposal_template }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "selected_model",
              "value": "={{ $json.body.selected_model }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "language",
              "value": "={{ $json.body.language }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "original_language",
              "value": "={{ $json.body.original_language }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "budget",
              "value": "={{ $json.body.additional_info.budget }}",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "timeline",
              "value": "={{ $json.body.additional_info.timeline }}",
              "type": "string"
            },
            {
              "id": "id-8",
              "name": "provider",
              "value": "={{ $json.body.selected_model.split(':')[0] }}",
              "type": "string"
            },
            {
              "id": "id-9",
              "name": "model_name",
              "value": "={{ $json.body.model_name || 'gpt-4o-mini' }}",
              "type": "string"
            },
            {
              "id": "id-10",
              "name": "max_tokens",
              "value": 4000,
              "type": "number"
            },
            {
              "id": "id-11",
              "name": "field",
              "value": "={{ $json.body.job_description }}",
              "type": "string"
            },
            {
              "id": "id-12",
              "name": "role",
              "value": "={{ $json.body.common_proposal_template }}",
              "type": "string"
            },
            {
              "id": "id-13",
              "name": "experience_level",
              "value": "={{ $json.body.experience_level || 'intermediate' }}",
              "type": "string"
            },
            {
              "id": "id-14",
              "name": "total_questions",
              "value": "={{ $json.body.total_questions || 10 }}",
              "type": "number"
            },
            {
              "id": "id-15",
              "name": "target_language",
              "value": "={{ $json.body.language }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "3186b86d-0914-4f83-acbf-37ef6034279e",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        3280
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"assessment_id\": {\"type\": \"string\"},\n    \"metadata\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"field\": {\"type\": \"string\"},\n        \"role\": {\"type\": \"string\"},\n        \"experience_level\": {\"type\": \"string\"},\n        \"total_questions\": {\"type\": \"number\"},\n        \"generated_at\": {\"type\": \"string\"}\n      }\n    },\n    \"questions\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"question_id\": {\"type\": \"string\"},\n          \"question_text\": {\"type\": \"string\"},\n          \"question_type\": {\"type\": \"string\"},\n          \"options\": {\"type\": \"array\", \"items\": {\"type\": \"string\"}},\n          \"correct_answer\": {\"type\": \"string\"},\n          \"explanation\": {\"type\": \"string\"},\n          \"difficulty\": {\"type\": \"string\"},\n          \"bloom_level\": {\"type\": \"string\"},\n          \"primary_skill\": {\"type\": \"string\"},\n          \"skill_weight\": {\"type\": \"number\"}\n        }\n      }\n    },\n    \"scoring_config\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"overall_score\": {\"type\": \"number\"},\n        \"hire_recommendation\": {\"type\": \"string\"}\n      }\n    }\n  },\n  \"required\": [\"assessment_id\", \"questions\"]\n}",
        "autoFix": true
      },
      "id": "62a18456-422a-4bc9-b56e-a727a70aaee3",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1056,
        992
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all(); const processedItems = []; for (const item of items) { try { let assessmentData = item.json; if (assessmentData.output) { assessmentData = assessmentData.output; } if (assessmentData.text) { assessmentData = assessmentData.text; } if (typeof assessmentData === 'string') { const jsonMatch = assessmentData.match(/\\{[\\s\\S]*\\}/); if (jsonMatch) { try { assessmentData = JSON.parse(jsonMatch[0]); } catch (parseError) { processedItems.push({ json: { error: true, message: 'JSON parsing failed', details: parseError.message, raw_string: assessmentData, timestamp: new Date().toISOString() } }); continue; } } else { processedItems.push({ json: { error: true, message: 'Could not extract JSON from AI response', raw_string: assessmentData, timestamp: new Date().toISOString() } }); continue; } } if (!assessmentData || typeof assessmentData !== 'object') { processedItems.push({ json: { error: true, message: 'Invalid assessment structure: not an object', received_type: typeof assessmentData, timestamp: new Date().toISOString() } }); continue; } const now = new Date().toISOString(); assessmentData.processed_at = now; assessmentData.workflow_execution_id = $execution.id; if (!assessmentData.audit_metadata) { assessmentData.audit_metadata = {}; } assessmentData.audit_metadata.processed_timestamp = now; assessmentData.audit_metadata.workflow_id = $workflow.id; processedItems.push({ json: assessmentData }); } catch (error) { processedItems.push({ json: { error: true, message: error.message, stack: error.stack, timestamp: new Date().toISOString() } }); } } return processedItems;"
      },
      "id": "dcd68698-4b84-46be-bca1-91ddde3d9785",
      "name": "Post-Process Assessment JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        3184
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "e3940892-2a36-4897-a3bb-8e24bfd15c57",
      "name": "Return Assessment JSON",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3072,
        3184
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.body.job_description }}",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            },
            {
              "id": "id-2",
              "leftValue": "={{ $json.body.selected_model }}",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            },
            {
              "id": "id-3",
              "leftValue": "={{ $json.body.language }}",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            },
            {
              "id": "id-4",
              "leftValue": "={{ $json.body.common_proposal_template }}",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "192c1d14-8957-44e7-a0be-1401605b2033",
      "name": "Validate Input Parameters",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        384,
        3376
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.error }}",
              "operator": {
                "type": "string",
                "operation": "notExists"
              }
            },
            {
              "id": "id-2",
              "leftValue": "={{ $json.data }}",
              "operator": {
                "type": "object",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c51d329d-d3f6-4b90-954c-d8477f48ceb3",
      "name": "Check Assessment Generation Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2400,
        3280
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "audit_id",
              "value": "={{ $execution.id + '_' + $now.toMillis() }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "assessment_id",
              "value": "={{ $json.data.assessment_id || 'N/A' }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "execution_id",
              "value": "={{ $execution.id }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "workflow_id",
              "value": "={{ $workflow.id }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "total_questions",
              "value": "={{ $json.data.metadata?.total_questions || 0 }}",
              "type": "number"
            },
            {
              "id": "id-7",
              "name": "model_used",
              "value": "={{ $json.data.metadata?.model_used || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "id-8",
              "name": "field",
              "value": "={{ $json.data.metadata?.field || 'N/A' }}",
              "type": "string"
            },
            {
              "id": "id-9",
              "name": "role",
              "value": "={{ $json.data.metadata?.role || 'N/A' }}",
              "type": "string"
            },
            {
              "id": "id-10",
              "name": "status",
              "value": "success",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "be555dab-15e5-4e21-b660-4ccfc18bf469",
      "name": "Prepare Audit Log Entry",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2848,
        3280
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "a960b22f-b3cf-455c-80b3-c90f3b1e2991",
      "name": "Combine Assessment Metrics",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2624,
        3280
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "maxTokens": "={{ $('Workflow Configuration').item.json.max_tokens }}"
        }
      },
      "id": "4b9b9af4-0bea-4504-8e08-05c3ba656035",
      "name": "OpenAI Chat Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1216,
        1200
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Workflow Configuration').item.json.model_name }}"
        },
        "options": {
          "maxTokensToSample": "={{ $('Workflow Configuration').item.json.max_tokens }}"
        }
      },
      "id": "492513e1-b2d3-4f3e-9cd2-f56638a0de4a",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1168,
        1600
      ]
    },
    {
      "parameters": {
        "modelName": "={{ $('Workflow Configuration').item.json.model_name }}",
        "options": {
          "maxOutputTokens": "={{ $('Workflow Configuration').item.json.max_tokens }}"
        }
      },
      "id": "b0a9ffe5-c8f7-444d-861f-79fcd10618bf",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1168,
        2000
      ]
    },
    {
      "parameters": {
        "model": "={{ $('Workflow Configuration').item.json.model_name }}",
        "options": {
          "maxTokens": "={{ $('Workflow Configuration').item.json.max_tokens }}"
        }
      },
      "id": "e3932488-0095-4cac-b82c-03fff611b2e8",
      "name": "xAI Grok Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatXAiGrok",
      "typeVersion": 1,
      "position": [
        1168,
        2400
      ]
    },
    {
      "parameters": {
        "model": "={{ $('Workflow Configuration').item.json.model_name }}",
        "options": {}
      },
      "id": "1cee7994-1d54-45a6-9210-5feed7decd5b",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1168,
        2800
      ]
    },
    {
      "parameters": {
        "model": "={{ $('Workflow Configuration').item.json.model_name }}",
        "options": {
          "maxTokens": "={{ $('Workflow Configuration').item.json.max_tokens }}"
        }
      },
      "id": "8d93e7e0-e0a3-410b-9bb0-86a2c4f5704a",
      "name": "Mistral Cloud Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        1168,
        3200
      ]
    },
    {
      "parameters": {
        "model": "={{ $('Workflow Configuration').item.json.model_name }}",
        "options": {
          "maxTokensToSample": "={{ $('Workflow Configuration').item.json.max_tokens }}"
        }
      },
      "id": "b20c0a5e-afe9-4169-bef3-233d2dca09af",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1168,
        3600
      ]
    },
    {
      "parameters": {
        "authentication": "azureEntraCognitiveServicesOAuth2Api",
        "model": "={ $('Workflow Configuration').item.json.model_name }",
        "options": {
          "maxTokens": "={ $('Workflow Configuration').item.json.max_tokens }"
        }
      },
      "id": "e3294b39-c383-417e-8eeb-d713c7eacced",
      "name": "Azure OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        1168,
        4000
      ]
    },
    {
      "parameters": {
        "model": "={{ $('Workflow Configuration').item.json.model_name }}",
        "options": {
          "maxTokensToSample": "={{ $('Workflow Configuration').item.json.max_tokens }}"
        }
      },
      "id": "26e515d8-57a7-4859-aafb-9bd2b1a680a6",
      "name": "AWS Bedrock Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAwsBedrock",
      "typeVersion": 1.1,
      "position": [
        1168,
        4400
      ]
    },
    {
      "parameters": {
        "model": "={{ $('Workflow Configuration').item.json.model_name }}",
        "options": {}
      },
      "id": "0c58e962-69f9-41f5-b21e-0db7f4ebe16c",
      "name": "Cohere Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatCohere",
      "typeVersion": 1,
      "position": [
        1168,
        4800
      ]
    },
    {
      "parameters": {
        "model": "={{ $('Workflow Configuration').item.json.model_name }}",
        "options": {
          "maxTokens": "={{ $('Workflow Configuration').item.json.max_tokens }}"
        }
      },
      "id": "a507c033-1467-4b02-b0ed-ec3d6bdbd0e2",
      "name": "DeepSeek Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        1168,
        5200
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate an assessment with the following: Field={{ $('Workflow Configuration').item.json.field }}, Role={{ $('Workflow Configuration').item.json.role }}, Experience={{ $('Workflow Configuration').item.json.experience_level }}, Total Questions={{ $('Workflow Configuration').item.json.total_questions }}, Target Language={{ $('Workflow Configuration').item.json.target_language }}. Create questions with: question_id, question_text, question_type, options array, correct_answer, explanation, difficulty (easy/medium/hard), bloom_level, primary_skill, and skill_weight (1-5). Include assessment_id, metadata object with field/role/experience_level/total_questions/generated_at, questions array, and scoring_config with overall_score and hire_recommendation.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an AI Assessment Generator. Generate technical assessments in valid JSON format matching the output parser schema. Focus on creating high-quality questions appropriate for the specified role and experience level. Ensure all required fields are present and properly formatted. Keep the output concise and well-structured."
        }
      },
      "id": "122095bb-c09e-4104-ba0a-b30a8ad2bf27",
      "name": "AI Agent - OpenAI",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1152,
        768
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate an assessment with the following: Field={{ $('Workflow Configuration').item.json.field }}, Role={{ $('Workflow Configuration').item.json.role }}, Experience={{ $('Workflow Configuration').item.json.experience_level }}, Total Questions={{ $('Workflow Configuration').item.json.total_questions }}, Target Language={{ $('Workflow Configuration').item.json.target_language }}. Create questions with: question_id, question_text, question_type, options array, correct_answer, explanation, difficulty (easy/medium/hard), bloom_level, primary_skill, and skill_weight (1-5). Include assessment_id, metadata object with field/role/experience_level/total_questions/generated_at, questions array, and scoring_config with overall_score and hire_recommendation.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an AI Assessment Generator. Generate technical assessments in valid JSON format matching the output parser schema. Focus on creating high-quality questions appropriate for the specified role and experience level. Ensure all required fields are present and properly formatted. Keep the output concise and well-structured."
        }
      },
      "id": "ac902e77-5752-4794-b895-dbb358f4d8d8",
      "name": "AI Agent - Anthropic",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1104,
        1376
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate an assessment with the following: Field={{ $('Workflow Configuration').item.json.field }}, Role={{ $('Workflow Configuration').item.json.role }}, Experience={{ $('Workflow Configuration').item.json.experience_level }}, Total Questions={{ $('Workflow Configuration').item.json.total_questions }}, Target Language={{ $('Workflow Configuration').item.json.target_language }}. Create questions with: question_id, question_text, question_type, options array, correct_answer, explanation, difficulty (easy/medium/hard), bloom_level, primary_skill, and skill_weight (1-5). Include assessment_id, metadata object with field/role/experience_level/total_questions/generated_at, questions array, and scoring_config with overall_score and hire_recommendation.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an AI Assessment Generator. Generate technical assessments in valid JSON format matching the output parser schema. Focus on creating high-quality questions appropriate for the specified role and experience level. Ensure all required fields are present and properly formatted. Keep the output concise and well-structured."
        }
      },
      "id": "109c18f5-7a05-4b87-a539-d79b3b17b675",
      "name": "AI Agent - Google",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1104,
        1776
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate an assessment with the following: Field={{ $('Workflow Configuration').item.json.field }}, Role={{ $('Workflow Configuration').item.json.role }}, Experience={{ $('Workflow Configuration').item.json.experience_level }}, Total Questions={{ $('Workflow Configuration').item.json.total_questions }}, Target Language={{ $('Workflow Configuration').item.json.target_language }}. Create questions with: question_id, question_text, question_type, options array, correct_answer, explanation, difficulty (easy/medium/hard), bloom_level, primary_skill, and skill_weight (1-5). Include assessment_id, metadata object with field/role/experience_level/total_questions/generated_at, questions array, and scoring_config with overall_score and hire_recommendation.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an AI Assessment Generator. Generate technical assessments in valid JSON format matching the output parser schema. Focus on creating high-quality questions appropriate for the specified role and experience level. Ensure all required fields are present and properly formatted. Keep the output concise and well-structured."
        }
      },
      "id": "ca24a218-b70c-4fe9-835c-2176cd4420a3",
      "name": "AI Agent - Grok",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1104,
        2176
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate an assessment with the following: Field={{ $('Workflow Configuration').item.json.field }}, Role={{ $('Workflow Configuration').item.json.role }}, Experience={{ $('Workflow Configuration').item.json.experience_level }}, Total Questions={{ $('Workflow Configuration').item.json.total_questions }}, Target Language={{ $('Workflow Configuration').item.json.target_language }}. Create questions with: question_id, question_text, question_type, options array, correct_answer, explanation, difficulty (easy/medium/hard), bloom_level, primary_skill, and skill_weight (1-5). Include assessment_id, metadata object with field/role/experience_level/total_questions/generated_at, questions array, and scoring_config with overall_score and hire_recommendation.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an AI Assessment Generator. Generate technical assessments in valid JSON format matching the output parser schema. Focus on creating high-quality questions appropriate for the specified role and experience level. Ensure all required fields are present and properly formatted. Keep the output concise and well-structured."
        }
      },
      "id": "0da11365-5de7-4029-9e22-13948d29b013",
      "name": "AI Agent - Ollama",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1104,
        2576
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate an assessment with the following: Field={{ $('Workflow Configuration').item.json.field }}, Role={{ $('Workflow Configuration').item.json.role }}, Experience={{ $('Workflow Configuration').item.json.experience_level }}, Total Questions={{ $('Workflow Configuration').item.json.total_questions }}, Target Language={{ $('Workflow Configuration').item.json.target_language }}. Create questions with: question_id, question_text, question_type, options array, correct_answer, explanation, difficulty (easy/medium/hard), bloom_level, primary_skill, and skill_weight (1-5). Include assessment_id, metadata object with field/role/experience_level/total_questions/generated_at, questions array, and scoring_config with overall_score and hire_recommendation.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an AI Assessment Generator. Generate technical assessments in valid JSON format matching the output parser schema. Focus on creating high-quality questions appropriate for the specified role and experience level. Ensure all required fields are present and properly formatted. Keep the output concise and well-structured."
        }
      },
      "id": "ca6a3ff1-371f-4069-8a5f-0307dab67e2d",
      "name": "AI Agent - Mistral",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1104,
        2976
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate an assessment with the following: Field={{ $('Workflow Configuration').item.json.field }}, Role={{ $('Workflow Configuration').item.json.role }}, Experience={{ $('Workflow Configuration').item.json.experience_level }}, Total Questions={{ $('Workflow Configuration').item.json.total_questions }}, Target Language={{ $('Workflow Configuration').item.json.target_language }}. Create questions with: question_id, question_text, question_type, options array, correct_answer, explanation, difficulty (easy/medium/hard), bloom_level, primary_skill, and skill_weight (1-5). Include assessment_id, metadata object with field/role/experience_level/total_questions/generated_at, questions array, and scoring_config with overall_score and hire_recommendation.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an AI Assessment Generator. Generate technical assessments in valid JSON format matching the output parser schema. Focus on creating high-quality questions appropriate for the specified role and experience level. Ensure all required fields are present and properly formatted. Keep the output concise and well-structured."
        }
      },
      "id": "c2de3244-4534-406a-b6ba-994a2baa8fce",
      "name": "AI Agent - Groq",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1104,
        3376
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate an assessment with the following: Field={{ $('Workflow Configuration').item.json.field }}, Role={{ $('Workflow Configuration').item.json.role }}, Experience={{ $('Workflow Configuration').item.json.experience_level }}, Total Questions={{ $('Workflow Configuration').item.json.total_questions }}, Target Language={{ $('Workflow Configuration').item.json.target_language }}. Create questions with: question_id, question_text, question_type, options array, correct_answer, explanation, difficulty (easy/medium/hard), bloom_level, primary_skill, and skill_weight (1-5). Include assessment_id, metadata object with field/role/experience_level/total_questions/generated_at, questions array, and scoring_config with overall_score and hire_recommendation.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an AI Assessment Generator. Generate technical assessments in valid JSON format matching the output parser schema. Focus on creating high-quality questions appropriate for the specified role and experience level. Ensure all required fields are present and properly formatted. Keep the output concise and well-structured."
        }
      },
      "id": "f8deffb4-37a5-4d84-886e-c3129fa502b2",
      "name": "AI Agent - Azure",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1104,
        3776
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate an assessment with the following: Field={{ $('Workflow Configuration').item.json.field }}, Role={{ $('Workflow Configuration').item.json.role }}, Experience={{ $('Workflow Configuration').item.json.experience_level }}, Total Questions={{ $('Workflow Configuration').item.json.total_questions }}, Target Language={{ $('Workflow Configuration').item.json.target_language }}. Create questions with: question_id, question_text, question_type, options array, correct_answer, explanation, difficulty (easy/medium/hard), bloom_level, primary_skill, and skill_weight (1-5). Include assessment_id, metadata object with field/role/experience_level/total_questions/generated_at, questions array, and scoring_config with overall_score and hire_recommendation.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an AI Assessment Generator. Generate technical assessments in valid JSON format matching the output parser schema. Focus on creating high-quality questions appropriate for the specified role and experience level. Ensure all required fields are present and properly formatted. Keep the output concise and well-structured."
        }
      },
      "id": "393873f6-5af3-43f8-b906-c262d88bcc20",
      "name": "AI Agent - AWS",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1104,
        4176
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate an assessment with the following: Field={{ $('Workflow Configuration').item.json.field }}, Role={{ $('Workflow Configuration').item.json.role }}, Experience={{ $('Workflow Configuration').item.json.experience_level }}, Total Questions={{ $('Workflow Configuration').item.json.total_questions }}, Target Language={{ $('Workflow Configuration').item.json.target_language }}. Create questions with: question_id, question_text, question_type, options array, correct_answer, explanation, difficulty (easy/medium/hard), bloom_level, primary_skill, and skill_weight (1-5). Include assessment_id, metadata object with field/role/experience_level/total_questions/generated_at, questions array, and scoring_config with overall_score and hire_recommendation.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an AI Assessment Generator. Generate technical assessments in valid JSON format matching the output parser schema. Focus on creating high-quality questions appropriate for the specified role and experience level. Ensure all required fields are present and properly formatted. Keep the output concise and well-structured."
        }
      },
      "id": "14d0cebd-a498-40f4-aa4d-e2c848747b3d",
      "name": "AI Agent - Cohere",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1104,
        4576
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate an assessment with the following: Field={{ $('Workflow Configuration').item.json.field }}, Role={{ $('Workflow Configuration').item.json.role }}, Experience={{ $('Workflow Configuration').item.json.experience_level }}, Total Questions={{ $('Workflow Configuration').item.json.total_questions }}, Target Language={{ $('Workflow Configuration').item.json.target_language }}. Create questions with: question_id, question_text, question_type, options array, correct_answer, explanation, difficulty (easy/medium/hard), bloom_level, primary_skill, and skill_weight (1-5). Include assessment_id, metadata object with field/role/experience_level/total_questions/generated_at, questions array, and scoring_config with overall_score and hire_recommendation.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an AI Assessment Generator. Generate technical assessments in valid JSON format matching the output parser schema. Focus on creating high-quality questions appropriate for the specified role and experience level. Ensure all required fields are present and properly formatted. Keep the output concise and well-structured."
        }
      },
      "id": "fdae2d8a-b57c-44b8-a5d4-33a3433ac32e",
      "name": "AI Agent - DeepSeek",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1104,
        4976
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate an assessment with the following: Field={{ $('Workflow Configuration').item.json.field }}, Role={{ $('Workflow Configuration').item.json.role }}, Experience={{ $('Workflow Configuration').item.json.experience_level }}, Total Questions={{ $('Workflow Configuration').item.json.total_questions }}, Target Language={{ $('Workflow Configuration').item.json.target_language }}. Create questions with: question_id, question_text, question_type, options array, correct_answer, explanation, difficulty (easy/medium/hard), bloom_level, primary_skill, and skill_weight (1-5). Include assessment_id, metadata object with field/role/experience_level/total_questions/generated_at, questions array, and scoring_config with overall_score and hire_recommendation.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an AI Assessment Generator. Generate technical assessments in valid JSON format matching the output parser schema. Focus on creating high-quality questions appropriate for the specified role and experience level. Ensure all required fields are present and properly formatted. Keep the output concise and well-structured."
        }
      },
      "id": "65d3da97-df53-40b9-84fd-09a325576fcd",
      "name": "AI Agent - HuggingFace",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1104,
        5376
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: 'Validation failed', message: 'Required fields missing in request payload', received: $json.body }, null, 2) }}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "0b3a8fa9-201e-4b7c-914d-976b96f457c1",
      "name": "Return Assessment JSON1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        608,
        3472
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all(); const processedItems = []; for (const item of items) { try { let data = item.json; if (typeof data === 'string') { try { data = JSON.parse(data); } catch (parseError) { processedItems.push({ json: { error: true, message: 'JSON Parse Error', details: parseError.message, raw_response: data, timestamp: new Date().toISOString() } }); continue; } } if (data.output && typeof data.output === 'string') { try { data = JSON.parse(data.output); } catch (e) { data = { parsed_output: data.output }; } } processedItems.push({ json: { success: true, validated: true, data: data, timestamp: new Date().toISOString() } }); } catch (error) { processedItems.push({ json: { error: true, message: 'Validation Error', details: error.message, stack: error.stack, timestamp: new Date().toISOString() } }); } } return processedItems;"
      },
      "id": "57e9927e-d915-4163-a055-eb5b9646540b",
      "name": "Try-Catch JSON Validation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1952,
        3184
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cca0291c-723f-47ab-8d21-8939b410c7da",
      "name": "Check for Errors",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2176,
        3184
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "error",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "id-2",
              "name": "error_message",
              "value": "={{ $json.message || 'Unknown error occurred' }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "error_details",
              "value": "={{ $json.details || 'No details available' }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "raw_data",
              "value": "={{ JSON.stringify($json) }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "bef935ff-1ade-4e5d-aca0-ef2e365f3a29",
      "name": "Format Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2848,
        3088
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "debug_timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "ai_response_type",
              "value": "={{ typeof $json }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "has_output_field",
              "value": "={{ $json.output !== undefined }}",
              "type": "boolean"
            },
            {
              "id": "id-4",
              "name": "has_text_field",
              "value": "={{ $json.text !== undefined }}",
              "type": "boolean"
            },
            {
              "id": "id-5",
              "name": "has_questions_array",
              "value": "={{ Array.isArray($json.questions) }}",
              "type": "boolean"
            },
            {
              "id": "id-6",
              "name": "raw_response",
              "value": "={{ JSON.stringify($json) }}",
              "type": "object"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "92782b4f-5e82-45d9-b779-df1b48908d6c",
      "name": "Debug AI Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1728,
        3184
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "claude-sonnet-4-5-20250929"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        960,
        5584
      ],
      "id": "4ea4d7a8-1417-4a2e-aada-53b43d7bcf33",
      "name": "Anthropic Chat Model1"
    }
  ],
  "pinData": {},
  "connections": {
    "Assessment Request Webhook": {
      "main": [
        [
          {
            "node": "Validate Input Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "AI Agent - OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent - OpenAI",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "AI Agent - Anthropic",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "AI Agent - Google",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "AI Agent - Grok",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "AI Agent - Ollama",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "AI Agent - Mistral",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "AI Agent - Groq",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "AI Agent - Azure",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "AI Agent - AWS",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "AI Agent - Cohere",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "AI Agent - DeepSeek",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "AI Agent - HuggingFace",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Post-Process Assessment JSON": {
      "main": [
        [
          {
            "node": "Debug AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input Parameters": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Assessment JSON1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Assessment Generation Success": {
      "main": [
        [
          {
            "node": "Combine Assessment Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Audit Log Entry": {
      "main": [
        [
          {
            "node": "Return Assessment JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Assessment Metrics": {
      "main": [
        [
          {
            "node": "Prepare Audit Log Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - OpenAI",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Anthropic",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Google",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "xAI Grok Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Grok",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Ollama",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Mistral",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Groq",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Azure",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AWS Bedrock Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - AWS",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Cohere Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Cohere",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - DeepSeek",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - OpenAI": {
      "main": [
        [
          {
            "node": "Post-Process Assessment JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Anthropic": {
      "main": [
        [
          {
            "node": "Post-Process Assessment JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Google": {
      "main": [
        [
          {
            "node": "Post-Process Assessment JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Grok": {
      "main": [
        [
          {
            "node": "Post-Process Assessment JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Ollama": {
      "main": [
        [
          {
            "node": "Post-Process Assessment JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Mistral": {
      "main": [
        [
          {
            "node": "Post-Process Assessment JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Groq": {
      "main": [
        [
          {
            "node": "Post-Process Assessment JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Azure": {
      "main": [
        [
          {
            "node": "Post-Process Assessment JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - AWS": {
      "main": [
        [
          {
            "node": "Post-Process Assessment JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Cohere": {
      "main": [
        [
          {
            "node": "Post-Process Assessment JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - DeepSeek": {
      "main": [
        [
          {
            "node": "Post-Process Assessment JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - HuggingFace": {
      "main": [
        [
          {
            "node": "Post-Process Assessment JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Try-Catch JSON Validation": {
      "main": [
        [
          {
            "node": "Check for Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Errors": {
      "main": [
        [
          {
            "node": "Check Assessment Generation Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Response": {
      "main": [
        [
          {
            "node": "Return Assessment JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debug AI Response": {
      "main": [
        [
          {
            "node": "Try-Catch JSON Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - HuggingFace",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "59716c3b-c1ea-49c3-8ff0-a9d6837d8b7f",
  "meta": {
    "templateId": "5857",
    "templateCredsSetupCompleted": true,
    "instanceId": "22a4699e0fb1f0e120aca9be07bf5135247776f787c23f8b2eb38166ac344e1d"
  },
  "id": "U32XGGAQKZaIFpEk",
  "tags": []
}