WorkFlows/proposal-review.json
{
  "name": "proposal-review",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "proposal-review",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a4a6477a-724c-414f-9133-b77035a1b89d",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        256,
        1472
      ],
      "webhookId": "5a648fe3-1cbb-4d97-94f4-cf4a753c7367"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "company",
              "value": "={{ $json.body.company || 'Not specified' }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "proposal_title",
              "value": "={{ $json.body.proposal_title || 'Untitled Proposal' }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "proposal_text",
              "value": "={{ $json.body.proposal_text || '' }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "evaluation_criteria",
              "value": "={{ $json.body.evaluation_criteria || 'Standard business evaluation criteria' }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "model",
              "value": "={{ $json.body.model || 'chatgpt' }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "cd27a28d-b89c-40e3-8bc6-71faaec30de9",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        1472
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "id": "b7746225-2c68-43e0-9a7c-73e0ba725215",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1008,
        2304
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"summary\": {\n      \"type\": \"string\"\n    },\n    \"strengths\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    },\n    \"weaknesses\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    },\n    \"feasibility_analysis\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"technical\": {\n          \"type\": \"string\"\n        },\n        \"financial\": {\n          \"type\": \"string\"\n        },\n        \"operational\": {\n          \"type\": \"string\"\n        },\n        \"risks\": {\n          \"type\": \"string\"\n        }\n      }\n    },\n    \"recommendation\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"decision\": {\n          \"type\": \"string\"\n        },\n        \"justification\": {\n          \"type\": \"string\"\n        }\n      }\n    },\n    \"actionable_suggestions\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    },\n    \"scorecard\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"innovation\": {\n          \"type\": \"number\"\n        },\n        \"feasibility\": {\n          \"type\": \"number\"\n        },\n        \"clarity\": {\n          \"type\": \"number\"\n        },\n        \"value_proposition\": {\n          \"type\": \"number\"\n        },\n        \"overall_score\": {\n          \"type\": \"number\"\n        }\n      }\n    }\n  }\n}"
      },
      "id": "359ba785-32fd-4d58-a231-1c59d4bd69c5",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1072,
        992
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "id": "0453c1b2-806f-46f2-bd11-53c3057f0251",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1280,
        1472
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.model }}",
                    "rightValue": "chatgpt",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "leftValue": "={{ $json.model }}",
                    "rightValue": "openai",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "ChatGPT"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.model }}",
                    "rightValue": "ollama",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ollama"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.model }}",
                    "rightValue": "groq",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Groq"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.model }}",
                    "rightValue": "anthropic",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "leftValue": "={{ $json.model }}",
                    "rightValue": "claude",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "Anthropic"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Default (ChatGPT)"
        }
      },
      "id": "827c56da-5bb1-49f6-8312-41344dcc0120",
      "name": "Select Model Provider",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        704,
        1392
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "52702685-b321-4e67-8edc-8942e651d13a",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        944,
        992
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b3508730-ce61-4193-84a3-fc0927bb25e1",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1008,
        1392
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Company/Client: {{ $json.company }}\n\nProposal Title: {{ $json.proposal_title }}\n\nProposal Content:\n{{ $json.proposal_text }}\n\nEvaluation Criteria:\n{{ $json.evaluation_criteria }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an Expert Proposal Review Agent.\n\nYour role:\n- Analyze business proposals critically and professionally\n- Identify strengths, weaknesses, risks, and opportunities\n- Evaluate alignment with objectives and feasibility\n- Provide structured, actionable feedback\n- Remain neutral, fair, and data-driven\n- Always be clear and concise\n\nDeliver Output in the following structured format:\n\n1️⃣ Summary\n- Short objective summary of the proposal\n\n2️⃣ Strengths\n- Bullet points listing strong aspects\n\n3️⃣ Weaknesses / Gaps\n- Bullet points listing concerns, unclear areas, feasibility risks\n\n4️⃣ Feasibility & Risk Analysis\n- Technical feasibility\n- Financial feasibility\n- Operational practicality\n- Risks\n\n5️⃣ Recommendation\nChoose one:\n- APPROVE\n- APPROVE WITH CHANGES\n- REJECT\nProvide justification.\n\n6️⃣ Actionable Suggestions\n- Clear improvement recommendations\n\n7️⃣ Scorecard (0–10)\nInnovation:\nFeasibility:\nClarity:\nValue Proposition:\nOverall Score:\n\nTone requirements:\n- Professional\n- Clear\n- Non-emotional\n- Helpful"
        }
      },
      "id": "ffef4b96-e428-44c0-b839-e7966ac0a968",
      "name": "Agent - OpenAI",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        928,
        768
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Company/Client: {{ $json.company }}\n\nProposal Title: {{ $json.proposal_title }}\n\nProposal Content:\n{{ $json.proposal_text }}\n\nEvaluation Criteria:\n{{ $json.evaluation_criteria }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an Expert Proposal Review Agent.\n\nYour role:\n- Analyze business proposals critically and professionally\n- Identify strengths, weaknesses, risks, and opportunities\n- Evaluate alignment with objectives and feasibility\n- Provide structured, actionable feedback\n- Remain neutral, fair, and data-driven\n- Always be clear and concise\n\nDeliver Output in the following structured format:\n\n1️⃣ Summary\n- Short objective summary of the proposal\n\n2️⃣ Strengths\n- Bullet points listing strong aspects\n\n3️⃣ Weaknesses / Gaps\n- Bullet points listing concerns, unclear areas, feasibility risks\n\n4️⃣ Feasibility & Risk Analysis\n- Technical feasibility\n- Financial feasibility\n- Operational practicality\n- Risks\n\n5️⃣ Recommendation\nChoose one:\n- APPROVE\n- APPROVE WITH CHANGES\n- REJECT\nProvide justification.\n\n6️⃣ Actionable Suggestions\n- Clear improvement recommendations\n\n7️⃣ Scorecard (0–10)\nInnovation:\nFeasibility:\nClarity:\nValue Proposition:\nOverall Score:\n\nTone requirements:\n- Professional\n- Clear\n- Non-emotional\n- Helpful"
        }
      },
      "id": "d4da0341-3b64-4ff2-9e15-804a83331ebc",
      "name": "Agent - Ollama",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        928,
        1168
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Company/Client: {{ $json.company }}\n\nProposal Title: {{ $json.proposal_title }}\n\nProposal Content:\n{{ $json.proposal_text }}\n\nEvaluation Criteria:\n{{ $json.evaluation_criteria }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an Expert Proposal Review Agent.\n\nYour role:\n- Analyze business proposals critically and professionally\n- Identify strengths, weaknesses, risks, and opportunities\n- Evaluate alignment with objectives and feasibility\n- Provide structured, actionable feedback\n- Remain neutral, fair, and data-driven\n- Always be clear and concise\n\nDeliver Output in the following structured format:\n\n1️⃣ Summary\n- Short objective summary of the proposal\n\n2️⃣ Strengths\n- Bullet points listing strong aspects\n\n3️⃣ Weaknesses / Gaps\n- Bullet points listing concerns, unclear areas, feasibility risks\n\n4️⃣ Feasibility & Risk Analysis\n- Technical feasibility\n- Financial feasibility\n- Operational practicality\n- Risks\n\n5️⃣ Recommendation\nChoose one:\n- APPROVE\n- APPROVE WITH CHANGES\n- REJECT\nProvide justification.\n\n6️⃣ Actionable Suggestions\n- Clear improvement recommendations\n\n7️⃣ Scorecard (0–10)\nInnovation:\nFeasibility:\nClarity:\nValue Proposition:\nOverall Score:\n\nTone requirements:\n- Professional\n- Clear\n- Non-emotional\n- Helpful"
        }
      },
      "id": "bbf4ea25-e0a7-4cf9-a034-6f89af0931bb",
      "name": "Agent - Groq",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        928,
        1568
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Company/Client: {{ $json.company }}\n\nProposal Title: {{ $json.proposal_title }}\n\nProposal Content:\n{{ $json.proposal_text }}\n\nEvaluation Criteria:\n{{ $json.evaluation_criteria }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an Expert Proposal Review Agent.\n\nYour role:\n- Analyze business proposals critically and professionally\n- Identify strengths, weaknesses, risks, and opportunities\n- Evaluate alignment with objectives and feasibility\n- Provide structured, actionable feedback\n- Remain neutral, fair, and data-driven\n- Always be clear and concise\n\nDeliver Output in the following structured format:\n\n1️⃣ Summary\n- Short objective summary of the proposal\n\n2️⃣ Strengths\n- Bullet points listing strong aspects\n\n3️⃣ Weaknesses / Gaps\n- Bullet points listing concerns, unclear areas, feasibility risks\n\n4️⃣ Feasibility & Risk Analysis\n- Technical feasibility\n- Financial feasibility\n- Operational practicality\n- Risks\n\n5️⃣ Recommendation\nChoose one:\n- APPROVE\n- APPROVE WITH CHANGES\n- REJECT\nProvide justification.\n\n6️⃣ Actionable Suggestions\n- Clear improvement recommendations\n\n7️⃣ Scorecard (0–10)\nInnovation:\nFeasibility:\nClarity:\nValue Proposition:\nOverall Score:\n\nTone requirements:\n- Professional\n- Clear\n- Non-emotional\n- Helpful"
        }
      },
      "id": "52cb9266-e4f8-4bdc-86bb-39142c802517",
      "name": "Agent - Anthropic",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        928,
        2080
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "69d094d4-04ac-4222-bc00-449831449cb7",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1008,
        1792
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Select Model Provider",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent - Anthropic",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Agent - OpenAI",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "Agent - Ollama",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "Agent - Groq",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "Agent - Anthropic",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Select Model Provider": {
      "main": [
        [
          {
            "node": "Agent - OpenAI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agent - Ollama",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agent - Groq",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agent - Anthropic",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agent - OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent - OpenAI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent - Ollama",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agent - OpenAI": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent - Ollama": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent - Groq": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent - Anthropic": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent - Groq",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "fe27f736-1401-4890-bf35-83a0b78c40a2",
  "meta": {
    "templateId": "2718",
    "templateCredsSetupCompleted": true,
    "instanceId": "22a4699e0fb1f0e120aca9be07bf5135247776f787c23f8b2eb38166ac344e1d"
  },
  "id": "2VvuSrsDqW0KZtrC",
  "tags": []
}