WorkFlows/social-media-generator.json
{
  "name": "social-media-generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "social-media-generator",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f566c696-37ab-48f7-9400-53e48a18af8e",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1184,
        1488
      ],
      "webhookId": "b1725a9e-c12e-4e3e-96fd-2e6429eedcb4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "post_title",
              "value": "={{ $json.body.post_title }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "keywords",
              "value": "={{ $json.body.keywords }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "link",
              "value": "={{ $json.body.link }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "audience",
              "value": "={{ $json.body.audience }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "goal",
              "value": "={{ $json.body.goal }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "tone",
              "value": "={{ $json.body.tone }}",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "platforms",
              "value": "={{ $json.body.platforms }}",
              "type": "string"
            },
            {
              "id": "id-8",
              "name": "image_uploaded",
              "value": "={{ $json.body.image_uploaded }}",
              "type": "string"
            },
            {
              "id": "id-9",
              "name": "ai_model",
              "value": "={{ $json.body.ai_model }}",
              "type": "string"
            },
            {
              "id": "id-10",
              "name": "image_url",
              "value": "={{ $json.body.image_url }}",
              "type": "string"
            },
            {
              "id": "id-11",
              "name": "image_data",
              "value": "={{ $json.body.image_data }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "14169e5f-fc87-4d57-b140-23aaec35cba5",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -960,
        1488
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "id"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "c2110fe2-6cd7-449d-8e96-002f2dd09b11",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -512,
        896
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "claude-3-5-sonnet-20241022"
        },
        "options": {}
      },
      "id": "e2a5e5ee-252a-48cd-be4d-0127174b72f5",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -512,
        1296
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "de975119-5d5d-460b-9845-d73e6039cd29",
      "name": "Return Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        64,
        1680
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ai_model }}",
                    "rightValue": "openai",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "OpenAI"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ai_model }}",
                    "rightValue": "anthropic",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Anthropic"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ai_model }}",
                    "rightValue": "google",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Google"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ai_model }}",
                    "rightValue": "mistral",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mistral"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ai_model }}",
                    "rightValue": "groq",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Groq"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Default (OpenAI)"
        }
      },
      "id": "4ba04a00-5c68-4915-a52d-6f827b512463",
      "name": "Route by AI Model",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -736,
        1424
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-pro",
        "options": {}
      },
      "id": "d8f1f72c-d7e2-4132-a1c7-7524b3f38171",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -512,
        1696
      ]
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {}
      },
      "id": "18a5b71a-dd40-4374-9644-87083e3276d5",
      "name": "Mistral Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -512,
        2096
      ]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "id": "a677316f-3bb0-4428-8ac3-438dcf958ffc",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -512,
        2608
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Post Title: {{ $json.post_title }}\nKeywords/Topics: {{ $json.keywords }}\nOptional Link: {{ $json.link }}\nTarget Audience: {{ $json.audience }}\nContent Goal: {{ $json.goal }}\nTone of Voice: {{ $json.tone }}\nPlatforms Selected: {{ $json.platforms }}\nImage Uploaded: {{ $json.image_uploaded }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a senior social media strategist, performance marketer, and professional copywriter.\n\nYour task is to generate high-quality, platform-optimized social media posts using the provided data.\n\nYou MUST strictly follow platform best practices, tone guidelines, and character limits. The content should feel human, engaging, professional, and conversion-focused.\n\n-----------------------------------\n🧠 CONTENT GENERATION RULES\n-----------------------------------\n\nGENERAL RULES (MANDATORY):\n- Start each post with a strong hook\n- Avoid robotic or repetitive phrasing\n- Match tone to platform and audience\n- Include a natural Call-To-Action (CTA)\n- Do NOT mention AI or automation\n- Content must be original and non-generic\n\n-----------------------------------\n📌 PLATFORM-SPECIFIC REQUIREMENTS\n-----------------------------------\n\n1️⃣ LINKEDIN\n- Professional and insightful\n- Thought-leadership tone\n- 2–4 short paragraphs\n- Minimal emojis (optional)\n- 3–5 relevant hashtags\n- CTA: comment, connect, or read more\n\n2️⃣ INSTAGRAM\n- Highly engaging and friendly\n- Emojis allowed and encouraged\n- First line must be scroll-stopping\n- 8–15 trending hashtags\n- CTA: comment, save, or share\n- If image_uploaded = true, align caption with visual storytelling\n\n3️⃣ FACEBOOK\n- Conversational and relatable\n- Light storytelling encouraged\n- Emojis allowed\n- 5–10 hashtags\n- CTA: share, react, or click link\n\n4️⃣ TWITTER (X)\n- Max 280 characters\n- Clear hook in first sentence\n- 1–3 hashtags\n- CTA: reply, retweet, or like\n- Concise and punchy language\n\n-----------------------------------\n📤 OUTPUT FORMAT (STRICT JSON)\n-----------------------------------\n\nReturn ONLY valid JSON. Do NOT add explanations or extra text.\n\nGenerate content for ALL four platforms (LinkedIn, Instagram, Facebook, Twitter) regardless of which platforms are selected. The user will filter the results based on their selection.\n\nEach platform object must contain:\n- content: The post text\n- hashtags: Array of hashtag strings (without # symbol)\n- cta: The call-to-action text"
        }
      },
      "id": "467a61c0-6ad4-4b17-aa32-b818fa88d585",
      "name": "OpenAI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -512,
        672
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Post Title: {{ $json.post_title }}\nKeywords/Topics: {{ $json.keywords }}\nOptional Link: {{ $json.link }}\nTarget Audience: {{ $json.audience }}\nContent Goal: {{ $json.goal }}\nTone of Voice: {{ $json.tone }}\nPlatforms Selected: {{ $json.platforms }}\nImage Uploaded: {{ $json.image_uploaded }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a senior social media strategist, performance marketer, and professional copywriter.\n\nYour task is to generate high-quality, platform-optimized social media posts using the provided data.\n\nYou MUST strictly follow platform best practices, tone guidelines, and character limits. The content should feel human, engaging, professional, and conversion-focused.\n\n-----------------------------------\n🧠 CONTENT GENERATION RULES\n-----------------------------------\n\nGENERAL RULES (MANDATORY):\n- Start each post with a strong hook\n- Avoid robotic or repetitive phrasing\n- Match tone to platform and audience\n- Include a natural Call-To-Action (CTA)\n- Do NOT mention AI or automation\n- Content must be original and non-generic\n\n-----------------------------------\n📌 PLATFORM-SPECIFIC REQUIREMENTS\n-----------------------------------\n\n1️⃣ LINKEDIN\n- Professional and insightful\n- Thought-leadership tone\n- 2–4 short paragraphs\n- Minimal emojis (optional)\n- 3–5 relevant hashtags\n- CTA: comment, connect, or read more\n\n2️⃣ INSTAGRAM\n- Highly engaging and friendly\n- Emojis allowed and encouraged\n- First line must be scroll-stopping\n- 8–15 trending hashtags\n- CTA: comment, save, or share\n- If image_uploaded = true, align caption with visual storytelling\n\n3️⃣ FACEBOOK\n- Conversational and relatable\n- Light storytelling encouraged\n- Emojis allowed\n- 5–10 hashtags\n- CTA: share, react, or click link\n\n4️⃣ TWITTER (X)\n- Max 280 characters\n- Clear hook in first sentence\n- 1–3 hashtags\n- CTA: reply, retweet, or like\n- Concise and punchy language\n\n-----------------------------------\n📤 OUTPUT FORMAT (STRICT JSON)\n-----------------------------------\n\nReturn ONLY valid JSON. Do NOT add explanations or extra text.\n\nGenerate content for ALL four platforms (LinkedIn, Instagram, Facebook, Twitter) regardless of which platforms are selected. The user will filter the results based on their selection.\n\nEach platform object must contain:\n- content: The post text\n- hashtags: Array of hashtag strings (without # symbol)\n- cta: The call-to-action text"
        }
      },
      "id": "c658ab3d-ce54-4797-ac81-6b91c9427870",
      "name": "Anthropic Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -512,
        1072
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Post Title: {{ $json.post_title }}\nKeywords/Topics: {{ $json.keywords }}\nOptional Link: {{ $json.link }}\nTarget Audience: {{ $json.audience }}\nContent Goal: {{ $json.goal }}\nTone of Voice: {{ $json.tone }}\nPlatforms Selected: {{ $json.platforms }}\nImage Uploaded: {{ $json.image_uploaded }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a senior social media strategist, performance marketer, and professional copywriter.\n\nYour task is to generate high-quality, platform-optimized social media posts using the provided data.\n\nYou MUST strictly follow platform best practices, tone guidelines, and character limits. The content should feel human, engaging, professional, and conversion-focused.\n\n-----------------------------------\n🧠 CONTENT GENERATION RULES\n-----------------------------------\n\nGENERAL RULES (MANDATORY):\n- Start each post with a strong hook\n- Avoid robotic or repetitive phrasing\n- Match tone to platform and audience\n- Include a natural Call-To-Action (CTA)\n- Do NOT mention AI or automation\n- Content must be original and non-generic\n\n-----------------------------------\n📌 PLATFORM-SPECIFIC REQUIREMENTS\n-----------------------------------\n\n1️⃣ LINKEDIN\n- Professional and insightful\n- Thought-leadership tone\n- 2–4 short paragraphs\n- Minimal emojis (optional)\n- 3–5 relevant hashtags\n- CTA: comment, connect, or read more\n\n2️⃣ INSTAGRAM\n- Highly engaging and friendly\n- Emojis allowed and encouraged\n- First line must be scroll-stopping\n- 8–15 trending hashtags\n- CTA: comment, save, or share\n- If image_uploaded = true, align caption with visual storytelling\n\n3️⃣ FACEBOOK\n- Conversational and relatable\n- Light storytelling encouraged\n- Emojis allowed\n- 5–10 hashtags\n- CTA: share, react, or click link\n\n4️⃣ TWITTER (X)\n- Max 280 characters\n- Clear hook in first sentence\n- 1–3 hashtags\n- CTA: reply, retweet, or like\n- Concise and punchy language\n\n-----------------------------------\n📤 OUTPUT FORMAT (STRICT JSON)\n-----------------------------------\n\nReturn ONLY valid JSON. Do NOT add explanations or extra text.\n\nGenerate content for ALL four platforms (LinkedIn, Instagram, Facebook, Twitter) regardless of which platforms are selected. The user will filter the results based on their selection.\n\nEach platform object must contain:\n- content: The post text\n- hashtags: Array of hashtag strings (without # symbol)\n- cta: The call-to-action text"
        }
      },
      "id": "ccc7997f-c1be-4ff3-953f-a3a14def74f7",
      "name": "Google Gemini Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -512,
        1472
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Post Title: {{ $json.post_title }}\nKeywords/Topics: {{ $json.keywords }}\nOptional Link: {{ $json.link }}\nTarget Audience: {{ $json.audience }}\nContent Goal: {{ $json.goal }}\nTone of Voice: {{ $json.tone }}\nPlatforms Selected: {{ $json.platforms }}\nImage Uploaded: {{ $json.image_uploaded }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a senior social media strategist, performance marketer, and professional copywriter.\n\nYour task is to generate high-quality, platform-optimized social media posts using the provided data.\n\nYou MUST strictly follow platform best practices, tone guidelines, and character limits. The content should feel human, engaging, professional, and conversion-focused.\n\n-----------------------------------\n🧠 CONTENT GENERATION RULES\n-----------------------------------\n\nGENERAL RULES (MANDATORY):\n- Start each post with a strong hook\n- Avoid robotic or repetitive phrasing\n- Match tone to platform and audience\n- Include a natural Call-To-Action (CTA)\n- Do NOT mention AI or automation\n- Content must be original and non-generic\n\n-----------------------------------\n📌 PLATFORM-SPECIFIC REQUIREMENTS\n-----------------------------------\n\n1️⃣ LINKEDIN\n- Professional and insightful\n- Thought-leadership tone\n- 2–4 short paragraphs\n- Minimal emojis (optional)\n- 3–5 relevant hashtags\n- CTA: comment, connect, or read more\n\n2️⃣ INSTAGRAM\n- Highly engaging and friendly\n- Emojis allowed and encouraged\n- First line must be scroll-stopping\n- 8–15 trending hashtags\n- CTA: comment, save, or share\n- If image_uploaded = true, align caption with visual storytelling\n\n3️⃣ FACEBOOK\n- Conversational and relatable\n- Light storytelling encouraged\n- Emojis allowed\n- 5–10 hashtags\n- CTA: share, react, or click link\n\n4️⃣ TWITTER (X)\n- Max 280 characters\n- Clear hook in first sentence\n- 1–3 hashtags\n- CTA: reply, retweet, or like\n- Concise and punchy language\n\n-----------------------------------\n📤 OUTPUT FORMAT (STRICT JSON)\n-----------------------------------\n\nReturn ONLY valid JSON. Do NOT add explanations or extra text.\n\nGenerate content for ALL four platforms (LinkedIn, Instagram, Facebook, Twitter) regardless of which platforms are selected. The user will filter the results based on their selection.\n\nEach platform object must contain:\n- content: The post text\n- hashtags: Array of hashtag strings (without # symbol)\n- cta: The call-to-action text"
        }
      },
      "id": "f9deda88-3a1a-4627-9da0-e1e85e07bf35",
      "name": "Mistral Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -512,
        1872
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Post Title: {{ $json.post_title }}\nKeywords/Topics: {{ $json.keywords }}\nOptional Link: {{ $json.link }}\nTarget Audience: {{ $json.audience }}\nContent Goal: {{ $json.goal }}\nTone of Voice: {{ $json.tone }}\nPlatforms Selected: {{ $json.platforms }}\nImage Uploaded: {{ $json.image_uploaded }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a senior social media strategist, performance marketer, and professional copywriter.\n\nYour task is to generate high-quality, platform-optimized social media posts using the provided data.\n\nYou MUST strictly follow platform best practices, tone guidelines, and character limits. The content should feel human, engaging, professional, and conversion-focused.\n\n-----------------------------------\n🧠 CONTENT GENERATION RULES\n-----------------------------------\n\nGENERAL RULES (MANDATORY):\n- Start each post with a strong hook\n- Avoid robotic or repetitive phrasing\n- Match tone to platform and audience\n- Include a natural Call-To-Action (CTA)\n- Do NOT mention AI or automation\n- Content must be original and non-generic\n\n-----------------------------------\n📌 PLATFORM-SPECIFIC REQUIREMENTS\n-----------------------------------\n\n1️⃣ LINKEDIN\n- Professional and insightful\n- Thought-leadership tone\n- 2–4 short paragraphs\n- Minimal emojis (optional)\n- 3–5 relevant hashtags\n- CTA: comment, connect, or read more\n\n2️⃣ INSTAGRAM\n- Highly engaging and friendly\n- Emojis allowed and encouraged\n- First line must be scroll-stopping\n- 8–15 trending hashtags\n- CTA: comment, save, or share\n- If image_uploaded = true, align caption with visual storytelling\n\n3️⃣ FACEBOOK\n- Conversational and relatable\n- Light storytelling encouraged\n- Emojis allowed\n- 5–10 hashtags\n- CTA: share, react, or click link\n\n4️⃣ TWITTER (X)\n- Max 280 characters\n- Clear hook in first sentence\n- 1–3 hashtags\n- CTA: reply, retweet, or like\n- Concise and punchy language\n\n-----------------------------------\n📤 OUTPUT FORMAT (STRICT JSON)\n-----------------------------------\n\nReturn ONLY valid JSON. Do NOT add explanations or extra text.\n\nGenerate content for ALL four platforms (LinkedIn, Instagram, Facebook, Twitter) regardless of which platforms are selected. The user will filter the results based on their selection.\n\nEach platform object must contain:\n- content: The post text\n- hashtags: Array of hashtag strings (without # symbol)\n- cta: The call-to-action text"
        }
      },
      "id": "7624cb8c-e080-4311-9721-bd54c4416c83",
      "name": "Groq Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -512,
        2384
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"linkedin\": {\n\t\t\t\"type\": \"object\",\n\t\t\t\"properties\": {\n\t\t\t\t\"content\": {\n\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t},\n\t\t\t\t\"hashtags\": {\n\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\"items\": {\n\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t\"cta\": {\n\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t}\n\t\t\t}\n\t\t},\n\t\t\"instagram\": {\n\t\t\t\"type\": \"object\",\n\t\t\t\"properties\": {\n\t\t\t\t\"content\": {\n\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t},\n\t\t\t\t\"hashtags\": {\n\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\"items\": {\n\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t\"cta\": {\n\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t}\n\t\t\t}\n\t\t},\n\t\t\"facebook\": {\n\t\t\t\"type\": \"object\",\n\t\t\t\"properties\": {\n\t\t\t\t\"content\": {\n\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t},\n\t\t\t\t\"hashtags\": {\n\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\"items\": {\n\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t\"cta\": {\n\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t}\n\t\t\t}\n\t\t},\n\t\t\"twitter\": {\n\t\t\t\"type\": \"object\",\n\t\t\t\"properties\": {\n\t\t\t\t\"content\": {\n\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t},\n\t\t\t\t\"hashtags\": {\n\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\"items\": {\n\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t\"cta\": {\n\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t}\n\t\t\t}\n\t\t}\n\t}\n}"
      },
      "id": "2977d6c5-aa1b-4257-81f6-920493f33095",
      "name": "OpenAI Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -384,
        896
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"linkedin\": {\n\t\t\t\"type\": \"object\",\n\t\t\t\"properties\": {\n\t\t\t\t\"content\": {\n\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t},\n\t\t\t\t\"hashtags\": {\n\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\"items\": {\n\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t\"cta\": {\n\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t}\n\t\t\t}\n\t\t},\n\t\t\"instagram\": {\n\t\t\t\"type\": \"object\",\n\t\t\t\"properties\": {\n\t\t\t\t\"content\": {\n\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t},\n\t\t\t\t\"hashtags\": {\n\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\"items\": {\n\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t\"cta\": {\n\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t}\n\t\t\t}\n\t\t},\n\t\t\"facebook\": {\n\t\t\t\"type\": \"object\",\n\t\t\t\"properties\": {\n\t\t\t\t\"content\": {\n\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t},\n\t\t\t\t\"hashtags\": {\n\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\"items\": {\n\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t\"cta\": {\n\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t}\n\t\t\t}\n\t\t},\n\t\t\"twitter\": {\n\t\t\t\"type\": \"object\",\n\t\t\t\"properties\": {\n\t\t\t\t\"content\": {\n\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t},\n\t\t\t\t\"hashtags\": {\n\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\"items\": {\n\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t\"cta\": {\n\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t}\n\t\t\t}\n\t\t}\n\t}\n}"
      },
      "id": "69ffed99-1678-4667-b5c7-bf6ef19555e7",
      "name": "Anthropic Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -384,
        1296
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"linkedin\": {\n\t\t\t\"type\": \"object\",\n\t\t\t\"properties\": {\n\t\t\t\t\"content\": {\n\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t},\n\t\t\t\t\"hashtags\": {\n\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\"items\": {\n\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t\"cta\": {\n\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t}\n\t\t\t}\n\t\t},\n\t\t\"instagram\": {\n\t\t\t\"type\": \"object\",\n\t\t\t\"properties\": {\n\t\t\t\t\"content\": {\n\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t},\n\t\t\t\t\"hashtags\": {\n\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\"items\": {\n\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t\"cta\": {\n\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t}\n\t\t\t}\n\t\t},\n\t\t\"facebook\": {\n\t\t\t\"type\": \"object\",\n\t\t\t\"properties\": {\n\t\t\t\t\"content\": {\n\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t},\n\t\t\t\t\"hashtags\": {\n\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\"items\": {\n\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t\"cta\": {\n\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t}\n\t\t\t}\n\t\t},\n\t\t\"twitter\": {\n\t\t\t\"type\": \"object\",\n\t\t\t\"properties\": {\n\t\t\t\t\"content\": {\n\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t},\n\t\t\t\t\"hashtags\": {\n\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\"items\": {\n\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t\"cta\": {\n\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t}\n\t\t\t}\n\t\t}\n\t}\n}"
      },
      "id": "81937bc5-b3c0-4844-bfd7-faf7c2a9b73e",
      "name": "Google Gemini Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -384,
        1696
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"linkedin\": {\n\t\t\t\"type\": \"object\",\n\t\t\t\"properties\": {\n\t\t\t\t\"content\": {\n\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t},\n\t\t\t\t\"hashtags\": {\n\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\"items\": {\n\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t\"cta\": {\n\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t}\n\t\t\t}\n\t\t},\n\t\t\"instagram\": {\n\t\t\t\"type\": \"object\",\n\t\t\t\"properties\": {\n\t\t\t\t\"content\": {\n\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t},\n\t\t\t\t\"hashtags\": {\n\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\"items\": {\n\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t\"cta\": {\n\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t}\n\t\t\t}\n\t\t},\n\t\t\"facebook\": {\n\t\t\t\"type\": \"object\",\n\t\t\t\"properties\": {\n\t\t\t\t\"content\": {\n\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t},\n\t\t\t\t\"hashtags\": {\n\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\"items\": {\n\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t\"cta\": {\n\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t}\n\t\t\t}\n\t\t},\n\t\t\"twitter\": {\n\t\t\t\"type\": \"object\",\n\t\t\t\"properties\": {\n\t\t\t\t\"content\": {\n\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t},\n\t\t\t\t\"hashtags\": {\n\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\"items\": {\n\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t\"cta\": {\n\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t}\n\t\t\t}\n\t\t}\n\t}\n}"
      },
      "id": "36e9bcd0-3964-4f98-8046-a06aa2dd21d5",
      "name": "Mistral Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -384,
        2096
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"linkedin\": {\n\t\t\t\"type\": \"object\",\n\t\t\t\"properties\": {\n\t\t\t\t\"content\": {\n\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t},\n\t\t\t\t\"hashtags\": {\n\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\"items\": {\n\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t\"cta\": {\n\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t}\n\t\t\t}\n\t\t},\n\t\t\"instagram\": {\n\t\t\t\"type\": \"object\",\n\t\t\t\"properties\": {\n\t\t\t\t\"content\": {\n\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t},\n\t\t\t\t\"hashtags\": {\n\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\"items\": {\n\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t\"cta\": {\n\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t}\n\t\t\t}\n\t\t},\n\t\t\"facebook\": {\n\t\t\t\"type\": \"object\",\n\t\t\t\"properties\": {\n\t\t\t\t\"content\": {\n\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t},\n\t\t\t\t\"hashtags\": {\n\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\"items\": {\n\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t\"cta\": {\n\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t}\n\t\t\t}\n\t\t},\n\t\t\"twitter\": {\n\t\t\t\"type\": \"object\",\n\t\t\t\"properties\": {\n\t\t\t\t\"content\": {\n\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t},\n\t\t\t\t\"hashtags\": {\n\t\t\t\t\t\"type\": \"array\",\n\t\t\t\t\t\"items\": {\n\t\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t\"cta\": {\n\t\t\t\t\t\"type\": \"string\"\n\t\t\t\t}\n\t\t\t}\n\t\t}\n\t}\n}"
      },
      "id": "e2de3ada-b2cc-4ebf-ac60-ed874f43ed4d",
      "name": "Groq Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -384,
        2608
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "id-2",
              "name": "error",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "id-3",
              "name": "message",
              "value": "={{ $json.error.message }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "error_details",
              "value": "={{ JSON.stringify($json.error) }}",
              "type": "object"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "4dd1b2a9-36f4-4535-850a-682a8957fb2b",
      "name": "Format Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        1776
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "image_url",
              "value": "={{ $('Workflow Configuration').first().json.image_url }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "image_data",
              "value": "={{ $('Workflow Configuration').first().json.image_data }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "c17693bc-e0f6-46e1-9419-5c8c0e38128d",
      "name": "Add Image to Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        1584
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Route by AI Model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "OpenAI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Anthropic Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Route by AI Model": {
      "main": [
        [
          {
            "node": "OpenAI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Anthropic Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Gemini Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mistral Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Groq Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Google Gemini Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Mistral Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Groq Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Agent": {
      "main": [
        [
          {
            "node": "Add Image to Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Agent": {
      "main": [
        [
          {
            "node": "Add Image to Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Agent": {
      "main": [
        [
          {
            "node": "Add Image to Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Agent": {
      "main": [
        [
          {
            "node": "Add Image to Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Agent": {
      "main": [
        [
          {
            "node": "Add Image to Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "OpenAI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Anthropic Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Google Gemini Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Mistral Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Groq Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Groq Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Response": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Image to Response": {
      "main": [
        [
          {
            "node": "Return Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "f187f385-0070-4430-bef4-39fce7a414b7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "22a4699e0fb1f0e120aca9be07bf5135247776f787c23f8b2eb38166ac344e1d"
  },
  "id": "19HJiKOhp8iAd5bF",
  "tags": []
}