WorkFlows/whatsapp chat system.json
{
  "name": "whatsapp chat system",
  "nodes": [
    {
      "parameters": {
        "path": "f5d51700-0826-44bf-82f3-477641c77af1",
        "options": {}
      },
      "id": "e51599e2-6013-4d37-b31e-ec9b5a72e468",
      "name": "Incoming WhatsApp Messages",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -352,
        -192
      ],
      "webhookId": "f5d51700-0826-44bf-82f3-477641c77af1"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "id": "02926816-b550-4bb7-938a-0a9f96b6c448",
      "name": "WhatsApp Webhook Listener",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -352,
        128
      ],
      "webhookId": "b38fb582-6564-4069-a2d5-78500750de1a"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/whatsapp/send",
        "authentication": "headerAuth",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "f1db8d43-67ba-465b-9c83-9e19c4c533fb",
      "name": "Send Message API",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -352,
        640
      ],
      "webhookId": "cb450a7f-f0f2-4ca6-88a7-10173ec8aabe"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/whatsapp/group/manage",
        "authentication": "headerAuth",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "5148ff8b-2bc6-4e3d-a7fb-e08d1118caec",
      "name": "Group Management API",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -352,
        1440
      ],
      "webhookId": "486eaad0-cb8e-468f-b428-8658e36f5f14"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const crypto = require('crypto');\nconst signature = $input.item.json.headers['x-hub-signature-256'];\nconst secret = process.env.WHATSAPP_WEBHOOK_SECRET || 'your-webhook-secret';\nconst body = JSON.stringify($input.item.json.body);\nconst expectedSignature = 'sha256=' + crypto.createHmac('sha256', secret).update(body).digest('hex');\nconst isValid = signature === expectedSignature;\nreturn [{ json: { ...($input.item.json), signatureValid: isValid, signature, expectedSignature } }];"
      },
      "id": "435dc055-5029-4fc6-af53-dd008840d6f3",
      "name": "Verify Webhook Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        128
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.signatureValid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2dc14b73-f191-417c-8c15-d308ea79612b",
      "name": "Check Signature Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        96,
        128
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.body.entry[0].changes[0].value.messages[0].from }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "83efa09d-5e0c-45ec-b3a3-3723b2dde2dc",
      "name": "Filter Existing Chats Only",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        320,
        32
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ 'whatsapp:msg:' + $json.body.entry[0].changes[0].value.messages[0].id }}",
        "options": {}
      },
      "id": "ecb620bf-a7f7-4b46-9f94-3ff081844b11",
      "name": "Check Message Deduplication",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        544,
        32
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.value }}",
              "rightValue": null,
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cfd83cbf-ae75-4e72-9e03-67a9eebc5ea9",
      "name": "Check Not Duplicate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        768,
        32
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "chat_id",
              "value": "={{ $json.body.entry[0].changes[0].value.messages[0].from }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "sender_id",
              "value": "={{ $json.body.entry[0].changes[0].value.messages[0].from }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "message_id",
              "value": "={{ $json.body.entry[0].changes[0].value.messages[0].id }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "message_type",
              "value": "={{ $json.body.entry[0].changes[0].value.messages[0].type }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "message_body",
              "value": "={{ $json.body.entry[0].changes[0].value.messages[0].text?.body || '' }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "group_id",
              "value": "={{ $json.body.entry[0].changes[0].value.messages[0].context?.group_id || null }}",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "timestamp",
              "value": "={{ $json.body.entry[0].changes[0].value.messages[0].timestamp }}",
              "type": "string"
            },
            {
              "id": "id-8",
              "name": "workspace_id",
              "value": "={{ $json.headers['x-workspace-id'] || 'default' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "adc8bf40-ae3e-4704-bc2a-88a9258335db",
      "name": "Normalize WhatsApp Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        992,
        32
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "name",
          "value": "whatsapp_messages"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $json.chat_id }}",
            "sender_id": "={{ $json.sender_id }}",
            "message_id": "={{ $json.message_id }}",
            "message_type": "={{ $json.message_type }}",
            "message_body": "={{ $json.message_body }}",
            "group_id": "={{ $json.group_id }}",
            "timestamp": "={{ $json.timestamp }}",
            "workspace_id": "={{ $json.workspace_id }}",
            "created_at": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "b06785a6-db72-4174-b29d-611244944644",
      "name": "Store Message Log",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1216,
        32
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ 'whatsapp:msg:' + $json.message_id }}",
        "value": "processed",
        "expire": true,
        "ttl": 86400
      },
      "id": "68e67d27-8e0d-4565-959e-f5b4043aacae",
      "name": "Mark Message as Processed",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1440,
        32
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ process.env.SAAS_BACKEND_URL || 'https://your-saas-backend.com' }}/api/whatsapp/events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + (process.env.SAAS_API_TOKEN || 'your-api-token') }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { event_type: 'message_received', chat_id: $json.chat_id, sender_id: $json.sender_id, message_id: $json.message_id, message_type: $json.message_type, message_body: $json.message_body, group_id: $json.group_id, timestamp: $json.timestamp, workspace_id: $json.workspace_id } }}",
        "options": {}
      },
      "id": "251d7210-fb00-464b-9dfe-2334c6d292e2",
      "name": "Sync to SaaS Backend - Incoming",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1664,
        32
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "status",
              "value": "success",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "reference_id",
              "value": "={{ $('Normalize WhatsApp Message').item.json.message_id }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "timestamp",
              "value": "={{ Math.floor(Date.now() / 1000) }}",
              "type": "number"
            },
            {
              "id": "id-4",
              "name": "message",
              "value": "Message processed successfully",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6955a493-0206-4b29-8417-ab7402f99d09",
      "name": "Format Success Response - Incoming",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1888,
        32
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "error",
              "value": "Invalid webhook signature",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "timestamp",
              "value": "={{ Math.floor(Date.now() / 1000) }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "3d95d4d0-978b-41af-9c88-8e090c951e5f",
      "name": "Format Error Response - Invalid Signature",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        224
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const chatId = $input.item.json.body?.chat_id;\nconst message = $input.item.json.body?.message;\nconst workspaceId = $input.item.json.workspace_id;\n\nif (!chatId || !message) {\n  return [{ json: { ...($input.item.json), chatExists: false, error: 'Missing chat_id or message' } }];\n}\n\nreturn [{ json: { ...($input.item.json), chatExists: true, chat_id: chatId, message: message } }];"
      },
      "id": "61a72a6f-106f-4e7f-a349-290ef993a636",
      "name": "Validate Send Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        544
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.chatExists }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "77304c5f-7c50-42cc-b997-7e9849a584b9",
      "name": "Check Chat Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        992,
        544
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "recipientPhoneNumber": "={{ $json.chat_id }}",
        "textBody": "={{ $json.message }}",
        "additionalFields": {}
      },
      "id": "9d669661-80bb-4b29-b043-d3fbdf7f88a7",
      "name": "Send WhatsApp Message",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        1216,
        448
      ],
      "webhookId": "5abeebfe-6ca2-4482-b30b-578169e9f615"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "status",
              "value": "success",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "reference_id",
              "value": "={{ $('Send WhatsApp Message').item.json.id }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "timestamp",
              "value": "={{ Math.floor(Date.now() / 1000) }}",
              "type": "number"
            },
            {
              "id": "id-4",
              "name": "chat_id",
              "value": "={{ $('Validate Send Request').item.json.chat_id }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "message_status",
              "value": "sent",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7fabc7c8-b123-4932-a9de-f101014241bd",
      "name": "Format Send Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        448
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ process.env.SAAS_BACKEND_URL || 'https://your-saas-backend.com' }}/api/whatsapp/events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + (process.env.SAAS_API_TOKEN || 'your-api-token') }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { event_type: 'message_sent', chat_id: $json.chat_id, reference_id: $json.reference_id, message_status: $json.message_status, timestamp: $json.timestamp, workspace_id: $('Validate Send Request').item.json.workspace_id } }}",
        "options": {}
      },
      "id": "c3b8d52d-45da-425a-a9ba-31ae745283b9",
      "name": "Sync to SaaS Backend - Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1664,
        448
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "ff0e7b1e-e4ca-43cc-8933-53f7291cea32",
      "name": "Respond - Send Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1888,
        448
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "error",
              "value": "Chat not found or does not exist",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "timestamp",
              "value": "={{ Math.floor(Date.now() / 1000) }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "51d385b5-fa42-4cf0-b849-0e6b505566a1",
      "name": "Format Error - Chat Not Found",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1216,
        640
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 404
        }
      },
      "id": "23d9ca6a-a88c-4a3d-bd34-14318deefc71",
      "name": "Respond - Send Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1440,
        640
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "create",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Create Group"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "add",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Add Participants"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "remove",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Remove Participants"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "promote",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Promote Admin"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "demote",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Demote Admin"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "info",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Get Info"
            }
          ]
        },
        "options": {}
      },
      "id": "928ccaa1-6bfe-4cd9-b59e-b53031627731",
      "name": "Route Group Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -128,
        1376
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "additionalFields": {}
      },
      "id": "bec84cfa-a08d-4b48-8c36-a8667ceddd55",
      "name": "Create WhatsApp Group",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        96,
        960
      ],
      "webhookId": "24c3f996-9a6b-4c36-8ab4-d80dab28ced7"
    },
    {
      "parameters": {
        "operation": "send",
        "recipientPhoneNumber": "={{ $json.body.group_id }}",
        "textBody": "={{ $json.body.participants }}",
        "additionalFields": {}
      },
      "id": "3a3f16ce-13cd-45f1-b499-25998a01eed5",
      "name": "Add Group Participants",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        96,
        1152
      ],
      "webhookId": "a3210f1d-3243-4369-bf27-592c1f19a1b7"
    },
    {
      "parameters": {
        "operation": "send",
        "additionalFields": {}
      },
      "id": "9e0b9355-5fa3-4b1a-b77d-3e13ee618da5",
      "name": "Remove Group Participants",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        96,
        1344
      ],
      "webhookId": "90da3959-db53-4f32-b37f-40106912eea1"
    },
    {
      "parameters": {
        "recipientPhoneNumber": "={{ $json.body.group_id }}"
      },
      "id": "cc2c63c0-07c7-4aaf-b4da-508467533a4b",
      "name": "Promote to Admin",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        96,
        1536
      ],
      "webhookId": "7ed05fac-deb8-430d-9414-1fa4d79b681a"
    },
    {
      "parameters": {
        "recipientPhoneNumber": "={{ $json.body.group_id }}"
      },
      "id": "583a0640-d9fa-44a5-87a8-d6497d79f30b",
      "name": "Demote Admin",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        96,
        1728
      ],
      "webhookId": "81efe8b6-1ad8-4c84-918d-5ca8d4600856"
    },
    {
      "parameters": {
        "recipientPhoneNumber": "={{ $json.body.group_id }}"
      },
      "id": "6246da38-b180-4afc-8e78-95289eaf9385",
      "name": "Get Group Info",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        96,
        1920
      ],
      "webhookId": "be565272-b242-4dde-9021-db35f15482c5"
    },
    {
      "parameters": {
        "numberInputs": 6
      },
      "id": "a0b43ea8-f6a6-4bd4-b358-8ecb8f701058",
      "name": "Merge Group Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        320,
        1376
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "status",
              "value": "success",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "reference_id",
              "value": "={{ $json.id || $json.group_id }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "timestamp",
              "value": "={{ Math.floor(Date.now() / 1000) }}",
              "type": "number"
            },
            {
              "id": "id-4",
              "name": "action",
              "value": "={{ $('Route Group Action').item.json.body.action }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "result",
              "value": "={{ JSON.stringify($json) }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "c36a9e88-2053-4333-8aeb-1417e6ea8475",
      "name": "Format Group Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        1440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ process.env.SAAS_BACKEND_URL || 'https://your-saas-backend.com' }}/api/whatsapp/events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + (process.env.SAAS_API_TOKEN || 'your-api-token') }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { event_type: 'group_action', action: $json.action, reference_id: $json.reference_id, result: $json.result, timestamp: $json.timestamp, workspace_id: $('Group Management API').item.json.workspace_id } }}",
        "options": {}
      },
      "id": "e25314cb-4404-482d-ace2-8c5a6e9e1252",
      "name": "Sync to SaaS Backend - Group",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        768,
        1440
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "9bd8f7ae-ec69-4768-a8f9-d97374d1ca88",
      "name": "Respond - Group Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        992,
        1440
      ]
    },
    {
      "parameters": {},
      "id": "4f7d4df8-3350-4078-8e96-681be4c9c7dc",
      "name": "Error Handler",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -352,
        2144
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "error_message",
              "value": "={{ $json.error.message }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "error_stack",
              "value": "={{ $json.error.stack }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "workflow_id",
              "value": "={{ $workflow.id }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "execution_id",
              "value": "={{ $execution.id }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "timestamp",
              "value": "={{ Math.floor(Date.now() / 1000) }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "c1a5b9cb-4511-47d6-8760-89443fb3dd80",
      "name": "Format Error Log",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -128,
        2144
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "name",
          "value": "error_logs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "error_message": "={{ $json.error_message }}",
            "error_stack": "={{ $json.error_stack }}",
            "workflow_id": "={{ $json.workflow_id }}",
            "execution_id": "={{ $json.execution_id }}",
            "timestamp": "={{ $json.timestamp }}",
            "created_at": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "da141b28-27d5-4244-8c04-df091e7b637f",
      "name": "Store Error Log",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        96,
        2144
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ process.env.SAAS_BACKEND_URL || 'https://your-saas-backend.com' }}/api/whatsapp/errors",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + (process.env.SAAS_API_TOKEN || 'your-api-token') }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "da6b9a5f-aed6-42c0-aef7-cf8ed7be86bf",
      "name": "Sync Error to SaaS Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        320,
        2144
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const workspaceId = $input.item.json.body?.workspace_id || $input.item.json.headers['x-workspace-id'];\nconst apiKey = $input.item.json.headers['authorization']?.replace('Bearer ', '');\nconst isValid = workspaceId && apiKey && apiKey.length > 10;\n\nreturn [{ json: { ...($input.item.json), workspace_id: workspaceId, tenantValid: isValid } }];"
      },
      "id": "c2675b3d-8399-4920-8674-b2542460d2b6",
      "name": "Validate Tenant Isolation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        640
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.tenantValid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9a4fa79f-b39e-4173-bc6f-eb40d0c55174",
      "name": "Check Tenant Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        96,
        640
      ]
    },
    {
      "parameters": {
        "operation": "incr",
        "key": "={{ 'ratelimit:' + $json.workspace_id + ':' + Math.floor(Date.now() / 60000) }}",
        "expire": true
      },
      "id": "e6b2493b-bd30-42fe-ad45-b137cc1dda7a",
      "name": "Check Rate Limit",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        320,
        640
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.value }}",
              "rightValue": "100",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b399d299-0200-4780-8af0-55fe0267c4e4",
      "name": "Check Rate Limit OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        544,
        640
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "error",
              "value": "Rate limit exceeded",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "timestamp",
              "value": "={{ Math.floor(Date.now() / 1000) }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "6450b4ab-633e-4f38-9861-8e9c32d14a34",
      "name": "Format Error - Rate Limited",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        736
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 429
        }
      },
      "id": "31a652ce-bef8-43ae-a1fe-e64d6afec818",
      "name": "Respond - Rate Limited",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        992,
        736
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Webhook Listener": {
      "main": [
        [
          {
            "node": "Verify Webhook Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Message API": {
      "main": [
        [
          {
            "node": "Validate Tenant Isolation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Group Management API": {
      "main": [
        [
          {
            "node": "Route Group Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Webhook Signature": {
      "main": [
        [
          {
            "node": "Check Signature Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Signature Valid": {
      "main": [
        [
          {
            "node": "Filter Existing Chats Only",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error Response - Invalid Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Existing Chats Only": {
      "main": [
        [
          {
            "node": "Check Message Deduplication",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Message Deduplication": {
      "main": [
        [
          {
            "node": "Check Not Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Not Duplicate": {
      "main": [
        [
          {
            "node": "Normalize WhatsApp Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize WhatsApp Message": {
      "main": [
        [
          {
            "node": "Store Message Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Message Log": {
      "main": [
        [
          {
            "node": "Mark Message as Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Message as Processed": {
      "main": [
        [
          {
            "node": "Sync to SaaS Backend - Incoming",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync to SaaS Backend - Incoming": {
      "main": [
        [
          {
            "node": "Format Success Response - Incoming",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Send Request": {
      "main": [
        [
          {
            "node": "Check Chat Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Chat Exists": {
      "main": [
        [
          {
            "node": "Send WhatsApp Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error - Chat Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Message": {
      "main": [
        [
          {
            "node": "Format Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Send Response": {
      "main": [
        [
          {
            "node": "Sync to SaaS Backend - Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync to SaaS Backend - Sent": {
      "main": [
        [
          {
            "node": "Respond - Send Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error - Chat Not Found": {
      "main": [
        [
          {
            "node": "Respond - Send Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Group Action": {
      "main": [
        [
          {
            "node": "Create WhatsApp Group",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Group Participants",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Remove Group Participants",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Promote to Admin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Demote Admin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Group Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create WhatsApp Group": {
      "main": [
        [
          {
            "node": "Merge Group Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Group Participants": {
      "main": [
        [
          {
            "node": "Merge Group Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Remove Group Participants": {
      "main": [
        [
          {
            "node": "Merge Group Results",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Promote to Admin": {
      "main": [
        [
          {
            "node": "Merge Group Results",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Demote Admin": {
      "main": [
        [
          {
            "node": "Merge Group Results",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Get Group Info": {
      "main": [
        [
          {
            "node": "Merge Group Results",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Merge Group Results": {
      "main": [
        [
          {
            "node": "Format Group Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Group Response": {
      "main": [
        [
          {
            "node": "Sync to SaaS Backend - Group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync to SaaS Backend - Group": {
      "main": [
        [
          {
            "node": "Respond - Group Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "Format Error Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Log": {
      "main": [
        [
          {
            "node": "Store Error Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Error Log": {
      "main": [
        [
          {
            "node": "Sync Error to SaaS Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Tenant Isolation": {
      "main": [
        [
          {
            "node": "Check Tenant Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Tenant Valid": {
      "main": [
        [
          {
            "node": "Check Rate Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Rate Limit": {
      "main": [
        [
          {
            "node": "Check Rate Limit OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Rate Limit OK": {
      "main": [
        [
          {
            "node": "Validate Send Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error - Rate Limited",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error - Rate Limited": {
      "main": [
        [
          {
            "node": "Respond - Rate Limited",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "6434a1fc-839b-4e32-a37d-d0feb0d1d25f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "22a4699e0fb1f0e120aca9be07bf5135247776f787c23f8b2eb38166ac344e1d"
  },
  "id": "PSOAoJDpmdhQb3Ho",
  "tags": []
}